<% _t = t.v.moderations.aside %>
<aside class="crayons-layout__sidebar-left crayons-page-header grid gap-1 m:block">
  <h1 class="crayons-title mb-0 pl-0 m:pl-2 m:mb-6">
    <%= t.v.moderations.heading %>
  </h1>

  <nav class="mod-center--nav" aria-label="Mod center inbox navigation">
    <h3 class="crayons-subtitle-3 mb-2 pl-2 hidden m:block">
      <%= _t.inbox %>
    </h3>

    <div id="mod-center-inbox" class="mod-center--nav--medium hidden m:block">
      <a
        href="<%= "#{URL.url}/mod" %>"
        class="crayons-link crayons-link--block <%= "crayons-link--current" if @tag.blank? %>"
        data-tag-name="All topics">
        <%= _t.all %>
      </a>
      <% if @current_user_tags.any? %>
        <% @current_user_tags.each do |tag| %>
          <a href="<%= "#{URL.url}/mod/#{tag}" %>" class="crayons-link crayons-link--block <%= "crayons-link--current" if tag == @tag&.name %>" data-tag-name="<%= tag %>">
            #<%= tag %>
            <span id="<%= tag %>-indicator" class="crayons-indicator"></span>
          </a>
        <% end %>
      <% end %>
    </div>

    <div id="mod-center-inbox" class="mod-center--nav--default crayons-tabs crayons-tabs--scrollable flex m:hidden">
      <ul class="crayons-tabs__list">
        <li>
          <a
            data-text="All topics"
            href="<%= mod_path %>"
            class="crayons-tabs__item <%= "crayons-tabs__item--current" if @tag.blank? %>"
            aria-current="<%= "page" if @tag.blank? %>"
            data-tag-name="All topics">
            <%= _t.all %>
          </a>
        </li>
        <% if @current_user_tags.any? %>
          <% @current_user_tags.each do |tag| %>
            <li>
              <a data-text="#<%= tag %>" href="<%= "#{mod_path}/#{tag}" %>" class="crayons-tabs__item <%= "crayons-tabs__item--current" if tag == @tag&.name %>" data-tag-name="<%= tag %>" aria-current="<%= "page" if tag == @tag&.name %>">
                #<%= tag %>
                <span id="<%= tag %>-indicator" class="crayons-indicator"></span>
              </a>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </nav>

  <nav class="mod-center--nav hidden m:block" aria-label="Mod center resources navigation">
    <h3 class="crayons-subtitle-3 mb-2 pl-2">
      <%= _t.resources %>
    </h3>
    <div id="mod-center-other-options">
      <a href="<%= URL.url %>/community-moderation" class="crayons-link crayons-link--block mod-center--nav__item">
        <%= _t.trusted %>
        <%= inline_svg_tag("link-external.svg", aria: true, title: _t.external, class: "crayons-icon") %>
      </a>
      <a href="<%= URL.url %>/tag-moderation" class="crayons-link crayons-link--block mod-center--nav__item">
        <%= _t.tag %>
        <%= inline_svg_tag("link-external.svg", aria: true, title: _t.external, class: "crayons-icon") %>
      </a>
      <a href="<%= URL.url %>/terms" class="crayons-link crayons-link--block mod-center--nav__item">
        <%= _t.terms %>
        <%= inline_svg_tag("link-external.svg", aria: true, title: _t.external, class: "crayons-icon") %>
      </a>
      <a href="<%= URL.url %>/code-of-conduct" class="crayons-link crayons-link--block mod-center--nav__item">
        <%= _t.code %>
        <%= inline_svg_tag("link-external.svg", aria: true, title: _t.external, class: "crayons-icon") %>
      </a>
    </div>
  </nav>
  <div class="fs-s mod-feedback">
    <span class="fw-medium">
      <%= _t.feedback.subtitle %>
    </span>
    <span>
      <%= _t.feedback.desc email: ForemInstance.email %>
    </span>
  </div>
</aside>
