<% _t = t.v.moderations %>
<% title _t.heading %>

<%= javascript_packs_with_chunks_tag "modCenter", defer: true %>

<div id="moderation-page" aria-hidden="true"></div>

<% if current_user&.trusted %>
  <div class="crayons-layout crayons-layout--2-cols" id="mod-center">
    <%= render "moderations/mod_sidebar_left" %>
    <main class="mod-index-container articles-list crayons-layout__content">

      <header class="mod-index-header hidden m:block">
        <h2 class="crayons-subtitle-1">
          <%= @tag ? "##{@tag.name}" : _t.all %>
        </h2>
      </header>

      <section class="mod-index-body">
        <div class="mod-index-list-header lh-tight hidden m:grid">
          <h2 class="mod-index-list-header__label"><%= _t.post %></h2>
          <h2 class="mod-index-list-header__label"><%= _t.author %></h2>
          <h2 class="mod-index-list-header__label align-center"><%= _t.date %></h2>
        </div>

        <div class="mod-index-list" id="mod-index-list" data-articles="<%= @articles %>">
        </div>
      </section>
    </div>
    <div data-testid="flag-user-modal-container" class="flag-user-modal-container hidden">
    </div>
  </main>
<% else %>
  <div class="container" style="margin-top: 90px;">
    <h1 class="pt-5" style="text-align: center"><%= _t.notice.subtitle community: community_name %></h1>
    <div class="body">
      <p><%= _t.notice.desc1 community: community_name %></p>
      <p><%= _t.notice.desc2 code: link_to(_t.notice.code, code_of_conduct_path), trusted: link_to(_t.notice.trusted, community_moderation_path), tag: link_to(_t.notice.tag, tag_moderation_path) %></p>
      <p><%= _t.notice.desc3 email: mail_to(email_link, email_link) %></p>
      <% unless user_signed_in? %>
        <p><em><%= _t.notice.desc4 %></em></p>
      <% end %>
    </div>
  </div>
<% end %>
