<% _t = t.v.moderations.actions %>
<% title _t.meta.title2(title: @moderatable.title) %>

<%= javascript_packs_with_chunks_tag "commentModPage", defer: true %>

<% cache(release_adjusted_cache_key("mod-styling")) do %>
  <style>
    <%= Rails.application.assets["moderators.css"].to_s.html_safe %>
  </style>
<% end %>

<% if flash[:error].present? %>
  <div class="crayons-banner crayons-banner--error" role="alert">
    <%= flash[:error] %>
  </div>
<% end %>

<div class="container mod-container" style="text-align: center">
  <h2><a href="<%= @moderatable.path %>" rel="nofollow"><%= @moderatable.title %></a></h2>
  <h3><a href="<%= @moderatable.user.path %>">@<%= @moderatable.user.username %></a></h3>
  <% if @moderatable.class.name == "Article" &&
       (Tag.where(requires_approval: true).pluck(:name) & @moderatable.decorate.cached_tag_list_array).any? &&
       (current_user.any_admin? || @tag_moderator_tags.any? { |tag| @moderatable.tag_list.include?(tag.name) }) %>
    <%= form_tag "/article_approvals", method: "post" do %>
      <%= hidden_field_tag(:id, @moderatable.id) %>
      <% if @moderatable.approved %>
        <%= hidden_field_tag(:approved, false) %>
        <button class="crayons-btn crayons-btn--secondary approval-button approval-removal"><%= _t.approve.remove %></button>
      <% else %>
        <%= hidden_field_tag(:approved, true) %>
        <button class="crayons-btn approval-button"><%= _t.approve.add %></button>
      <% end %>
    <% end %>
    <hr />
  <% end %>

  <div style="display: flex; justify-content: space-around;">
  <button class="reaction-button <%= Reaction.cached_any_reactions_for?(@moderatable, current_user, "thumbsup") ? "reacted" : "" %>"
          data-reactable-id="<%= @moderatable.id %>"
          data-category="thumbsup"
          data-reactable-type="<%= @moderatable.class.name %>">
    <div class="reaction-button-circle">
      <%= image_tag("emoji/emoji-one-thumbs-up-gray.png", alt: "Thumbs up emoji", class: "emoji-grey") %>
      <img class="reacted-emoji" src="<%= asset_path("emoji/emoji-one-thumbs-up.png") %>" alt="Thumbs up emoji" />
      <%= inline_svg_tag("checkmark.svg", aria: true, class: "crayons-icon reaction-checkmark", title: _t.checkmark) %>
    </div>
    <span class="vote-text"><%= _t.vote_up %></span>
  </button>
    <button class="reaction-button <%= Reaction.cached_any_reactions_for?(@moderatable, current_user, "thumbsdown") ? "reacted" : "" %>"
            data-reactable-id="<%= @moderatable.id %>"
            data-category="thumbsdown"
            data-reactable-type="<%= @moderatable.class.name %>">
      <div class="reaction-button-circle">
        <%= image_tag("emoji/emoji-one-thumbs-down-gray.png", alt: "Thumbs down emoji", class: "emoji-grey") %>
        <img class="reacted-emoji downvote" src="<%= asset_path("emoji/emoji-one-thumbs-down.png") %>" alt="Thumbs down emoji" />
        <%= inline_svg_tag("checkmark.svg", aria: true, class: "crayons-icon reaction-checkmark", title: _t.checkmark) %>
      </div>
      <span class="vote-text"><%= _t.vote_down %></span>
    </button>
    <button class="reaction-button <%= Reaction.cached_any_reactions_for?(@moderatable, current_user, "vomit") ? "reacted" : "" %>"
            data-reactable-id="<%= @moderatable.id %>"
            data-category="vomit"
            data-reactable-type="<%= @moderatable.class.name %>">
      <div class="reaction-button-circle">
        <%= image_tag("emoji/emoji-one-nausea-face-gray.png", alt: "Nausea face emoji", class: "emoji-grey") %>
        <img class="reacted-emoji" src="<%= asset_path("emoji/emoji-one-nausea-face.png") %>" alt="Nausea down emoji" />
        <%= inline_svg_tag("checkmark.svg", aria: true, class: "crayons-icon reaction-checkmark", title: _t.checkmark) %>
      </div>
      <span class="vote-text"><%= _t.vote_flag %></span>
    </button>
  </div>

  <% if current_user.has_role?(:super_admin) && @moderatable.class.name == "Article" %>
    <h3> <a href="<%= @moderatable.path %>/edit"><%= _t.edit.post %></a> |
      <a href="/resource_admin/articles/<%= @moderatable.id %>" data-no-instant><%= _t.edit.r_a %></a> |
      <a href="<%= admin_article_path(@moderatable.id) %>" data-no-instant><%= _t.edit_a_a %></a></h3>
  <% elsif current_user.has_role?(:super_admin) && @moderatable.class.name == "Comment" %>
    <h3> <a href="/admin/comments/<%= @moderatable.id %>" data-no-instant><%= _t.edit.a_c %></a> |
      <a href="<%= admin_user_path(@moderatable.user_id) %>" data-no-instant><%= _t.edit.a_u %></a></h3>
  <% end %>
  <p>
    <b style="font-size:1em"><%= _t.hint.subtitle %></b>
  </p>
  <p>
    <%= _t.hint.desc %>
  </p>
  <div class="tag-mod-form" style="display: flex; flex-direction: column; align-items: center;">
    <h2><%= _t.abusive.subtitle user: link_to(@moderatable.user.username, @moderatable.user.path) %></h2>
    <button class="reaction-button <%= Reaction.cached_any_reactions_for?(@moderatable, current_user, "vomit") ? "reacted" : "" %>"
            data-reactable-id="<%= @moderatable.user.id %>"
            data-category="vomit"
            data-reactable-type="<%= @moderatable.user.class.name %>">
      <div class="reaction-button-circle">
        <%= image_tag("emoji/emoji-one-nausea-face-gray.png", alt: "Nausea face emoji", class: "emoji-grey") %>
        <img class="reacted-emoji" src="<%= asset_path("emoji/emoji-one-nausea-face.png") %>" alt="Nausea down emoji" />
        <%= inline_svg_tag("checkmark.svg", aria: true, class: "crayons-icon reaction-checkmark", title: _t.checkmark) %>
      </div>
      <span class="vote-text"><%= _t.flag %></span>
    </button>
    <p>
      <%= _t.abusive.desc %>
    </p>
  </div>
  <% if current_user.any_admin? && @moderatable.class.name == "Comment" && !@moderatable.deleted %>
    <div class="crayons-card crayons-card--secondary p-4 flex items-center">
      <div class="fw-medium flex-1" style="text-align: left;">
        <p class="fw-bold fs-xl"><%= _t.delete.subtitle %></p>
      </div>
      <div class="flex">
        <%= button_to _t.delete.button, comment_admin_delete_path(@moderatable.id), method: :patch, class: "crayons-btn crayons-btn--secondary ml-2" %>
      </div>
    </div>
  <% end %>
  <% if @hidden_comments.present? %>
    <div class="tag-mod-form">
      <h2><%= _t.hidden.subtitle %></h2>
      <form>
        <ul id="hidden-comments">
        <% @hidden_comments.each do |comment| %>
          <li>
            <a href="<%= comment.path %>"><%= _t.hidden.by user: comment.user.username %></a>
          </li>
        <% end %>
        </ul>
      </form>
    </div>
  <% end %>
  <% if @allowed_to_adjust %>
    <div class="tag-mod-form">
      <h2><%= _t.tag.subtitle %></h2>
      <%= form_for(@tag_adjustment) do |f| %>
        <%= @moderatable.tag_list %><br>
        <% if @tag_adjustment.errors.any? %>
          <div id="error_explanation">
            <h2><%= _t.errors @tag_adjustment.errors.count %></h2>
            <ul>
              <% @tag_adjustment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.hidden_field :article_id, value: @moderatable.id %>
        <% if current_user.any_admin? || @tag_moderator_tags.any? { |tag| @moderatable.tag_list.include?(tag.name) } %>
          <div class="tag-mod-addition-radio">
            <%= f.radio_button :adjustment_type, "removal", required: true %>
            <%= f.label :adjustment_type, _t.tag.remove, value: "removal" %>
          </div>
        <% end %>
        <% if @moderatable.tag_list.size < 4 %>
          <div class="tag-mod-addition-radio">
            <%= f.radio_button :adjustment_type, "addition", required: true %>
            <%= f.label :adjustment_type, _t.tag.add, value: "addition" %>
          </div>
        <% end %>
        <% if current_user.has_role?(:super_admin) %>
          <%= f.text_field :tag_name, placeholder: _t.tag.tag_name, required: true %>
        <% else %>
          <%= f.select :tag_name, @tag_moderator_tags, { prompt: _t.tag.select }, required: true %>
        <% end %>
        <%= f.text_area :reason_for_adjustment, placeholder: _t.tag.reason, required: true %>
        <%= f.submit _t.tag.submit %>
      <% end %>
      <% if @adjustments.present? %>
        <% @adjustments.each do |adjustment| %>
          <% if current_user.any_admin? || adjustment.user_id == current_user.id %>
            <%= form_for(adjustment, url: "/tag_adjustments/#{adjustment.id}", html: { method: :delete, onsubmit: "return confirm('#{_t.tag.undo.confirm type: _t.tag.undo.type[adjustment.adjustment_type], tag: adjustment.tag_name}')" }) do |f| %>
              <%= _t.tag[adjustment.adjustment_type == "removal" ? :removed : :added, adjustment.tag_name] %>
              <%= f.submit _t.tag.undo.button, id: "undo" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if @moderatable.class.name == "Article" %>
    <div class="tag-mod-form">
      <% @rating_vote = RatingVote.where(article_id: @moderatable.id, user_id: current_user.id).first %>
      <% rating_hash = { "Novice" => 1, "Beginner" => 2, "Mid-level" => 3, "Advanced" => 4, "Expert" => 5 } %>

      <h2><%= _t.exp.heading2 %></h2>

      <% rating_hash.each do |rating_name, rating_level| %>
      <button
        value="<%= rating_level %>"
        name="rating_vote_<%= rating_level %>"
        id="js__rating__vote__<%= rating_level %>"
        class="level-rating-button article-mod-page <%= "selected" if @rating_vote&.rating.to_d == rating_level.to_d %>"
        data-user-id="<%= current_user.id %>"
        data-article-id="<%= @moderatable.id %>"
        data-group="experience_level"
        style="margin: 0.5rem 0;">
        <div class="level-rating-content">
          <span class="level-rating-number"><%= _t.exp.from rating_level %></span>
          <span class="level-rating-text"><%= _t.exp.level[rating_name] %></span>
        </div>
      </button>
      <% end %>
      <p>
        <%= _t.exp.desc %>
      </p>
    </div>
  <% end %>
</div>
