<% _t = t.v.series.list %>
<% title_string = _t.heading series: @collection.slug %>
<% description_string = t.v.series.meta.description title: title_string, site: community_name %>

<%= content_for :page_meta do %>
  <%= render "collections/meta", title_string: title_string, description_string: description_string, path: @collection.path %>
<% end %>

<div class="crayons-layout crayons-layout--1-col">
  <header class="px-2 m:px-0">
    <h1><%= title_string %></h1>
    <%= link_to _t.back(user: @user.name), user_series_path(@user.username) %>
  </header>

  <div class="articles-list" id="articles-list">
    <div class="substories" id="substories">
      <% if @articles.present? %>
        <% @articles.each do |article| %>
          <%= render "articles/single_story", story: article.decorate, featured: article.main_image.present? %>
        <% end %>
      <% else %>
        <p><%= _t.empty %></p>
      <% end %>
    </div>
  </div>
</div>
