<% _t = t.v.auth.login %>
<%= form_for(User.new, as: :user, url: session_path(:user), data: { testid: "login-form" }) do |f| %>
  <div class="crayons-field mb-3">
    <%= f.label :email, class: "crayons-field__label" %>
    <%= f.email_field :email, autocomplete: "email", class: "crayons-textfield" %>
  </div>

  <div class="crayons-field mb-3">
    <%= f.label :password, class: "crayons-field__label" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "crayons-textfield" %>
  </div>

  <div class="crayons-field crayons-field--checkbox inline-flex flex-row items-center">
    <%= f.check_box :remember_me, class: "crayons-checkbox" %>
    <%= f.label :remember_me, class: "crayons-field__label fw-normal" %>
  </div>

  <div class="actions pt-3">
    <%= f.submit _t.continue, class: "crayons-btn crayons-btn--l w-100" %>
  </div>
<% end %>
<p class="pt-6 fs-s align-center">
  <a href="<%= new_password_path(:user) %>">
    <%= _t.forgot %>
  </a>
</p>
