<% _t = t.v.auth.provider %>
<div class="registration__actions-providers">
  <% authentication_enabled_providers.each do |provider| %>
    <% next unless display_social_login? %>
    <%= form_with url: provider.sign_in_path(state: "navbar_basic"), class: "flex w-100", local: true do |f| %>
      <%= f.button type: :submit, class: "crayons-btn crayons-btn--l crayons-btn--brand-#{provider.provider_name} crayons-btn--icon-left grow-1 whitespace-nowrap" do %>
        <%= inline_svg_tag("#{provider.provider_name}.svg", aria_hidden: true, class: "crayons-icon", title: provider.provider_name) %>
        <%= _t.text action: params[:state] == "new-user" ? _t.signup : _t.login, provider: provider.official_name %>
      <% end %>
    <% end %>
  <% end %>
  <% if params[:state] == "new-user" && Settings::Authentication.allow_email_password_registration && !ForemInstance.invitation_only? %>
    <%= link_to "#{inline_svg_tag('email.svg', aria_hidden: true, class: 'crayons-icon', title: _t.email.icon)}#{_t.email.text}".html_safe,
                request.params.merge(state: "email_signup").except("i"),
                class: "crayons-btn crayons-btn--l crayons-btn--brand-email crayons-btn--icon-left whitespace-nowrap",
                data: { no_instant: "" } %>
  <% end %>
</div>
