////////////////////////////////////////////////////////////////////////////////////
// Colors. /////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
//
// All --base-* and --accent-* color variables will be used to generate
// Utility-First Classes/ (see config/import.scss & base/colors.scss for
// reference). Other color variables are more functional and define usage
// of particular colors in components and views.

:root {
  // https://colorpalettes.net/color-palette-4143/
  $base-colors: #181c14, #f1f3ef;
  $theme-colors: #d1cac6, #c3c9cd;
  $accent: #bb9d8b;
  $brand: #6d7d62;
  ////////////////////////////////////////////////////////////////////////////////////
  // Fundamental color variables. ///////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////

  // Base
  --base: #{nth($base-colors, 1)};

  --base-a90: #{rgba(nth($base-colors, 1), 0.9)};
  --base-a80: #{rgba(nth($base-colors, 1), 0.8)};
  --base-a70: #{rgba(nth($base-colors, 1), 0.7)};
  --base-a60: #{rgba(nth($base-colors, 1), 0.6)};
  --base-a50: #{rgba(nth($base-colors, 1), 0.5)};
  --base-a40: #{rgba(nth($base-colors, 1), 0.4)};
  --base-a30: #{rgba(nth($base-colors, 1), 0.3)};
  --base-a20: #{rgba(nth($base-colors, 1), 0.2)};
  --base-a10: #{rgba(nth($base-colors, 1), 0.1)};
  --base-a5: #{rgba(nth($base-colors, 1), 0.05)};

  --base-100: var(--base);
  --base-90: #{mix(append($base-colors, 90%)...)};
  --base-80: #{mix(append($base-colors, 80%)...)};
  --base-70: #{mix(append($base-colors, 70%)...)};
  --base-60: #{mix(append($base-colors, 60%)...)};
  --base-50: #{mix(append($base-colors, 50%)...)};
  --base-40: #{mix(append($base-colors, 40%)...)};
  --base-30: #{mix(append($base-colors, 30%)...)};
  --base-20: #{mix(append($base-colors, 20%)...)};
  --base-10: #{mix(append($base-colors, 10%)...)};
  --base-0: #{mix(append($base-colors, 0%)...)};
  --base-inverted: #fff;

  // Accent colors
  --accent-brand: #{$brand};
  --accent-brand-darker: #{scale-color(
      $brand,
      $saturation: 20%,
      $lightness: -20%
    )};
  --accent-brand-lighter: #{scale-color(
      $brand,
      $saturation: -20%,
      $lightness: 20%
    )};
  --accent-brand-a10: #{rgba($brand, 0.1)};

  // Success
  --accent-success: #26d9ca;
  --accent-success-darker: #1ab3a6;
  --accent-success-lighter: #79ece2;
  --accent-success-a10: #{rgba(#26d9ca, 0.1)};

  // Warning
  --accent-warning: #ffcf4c;
  --accent-warning-darker: #f5b400;
  --accent-warning-lighter: #ffe499;
  --accent-warning-a10: #{rgba(#ffcf4c, 0.1)};

  // Danger
  --accent-danger: #dc1818;
  --accent-danger-darker: #c20a0a;
  --accent-danger-lighter: #ec5050;
  --accent-danger-a10: #{rgba(#dc1818, 0.1)};

  --accent-2: #{$accent};

  ////////////////////////////////////////////////////////////////////////////////////
  // Functional color variables. /////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////

  // Main colors
  // image from https://www.transparenttextures.com/nice-snow.html
  --body-bg: #{image-url('nice-snow.png')} #{nth($theme-colors, 2)};
  --body-color: var(--base-100);
  --body-color-inverted: var(--base-inverted);

  // Main content containers
  --card-bg: var(--base-0);
  --card-color: var(--base-100);
  --card-color-secondary: var(--base-70);
  --card-color-tertiary: var(--accent-2);
  --card-secondary-bg: var(--base-a5);
  --card-secondary-color: var(--base-90);
  --card-headline-color: var(--base-100);
  --card-border: var(--base-20);
  --card-secondary-border: var(--base-a20);
  --card-hover-bg: var(--base-10);
  --card-selected-bg: var(--base-20);
  --card-info-bg: #{rgba($brand, 0.2)};

  // Header
  --header-bg: #{nth($theme-colors, 1)};
  --header-bg-hover: var(--base-10);
  --header-button-focus-color: var(--accent-brand);
  --header-bg-current: var(--base-20);
  --header-shadow: var(--accent-2);
  --header-icons-color: var(--base-70);
  --header-icons-color-hover: var(--base-100);

  // Logo
  --logo-bg: var(--base-100);
  --logo-color: var(--base-inverted);

  // Footer
  --footer-bg: var(--base-20);
  --footer-color: var(--base-70);
  --footer-link-color: var(--base-80);
  --footer-link-color-hover: var(--base-100);

  // Links
  --link-color: var(--base-90);
  --link-color-hover: var(--accent-brand-darker);
  --link-bg-hover: var(--base-a5);
  --link-bg-hover-alt: var(--base-0);
  --link-brand-color: var(--accent-brand-darker);
  --link-color-current: var(--base-100);
  --link-color-secondary: var(--base-60);
  --link-color-secondary-hover: var(--base-70);
  --link-bg-current: var(--base-inverted);

  // Primary buttons
  --button-primary-bg: var(--accent-brand);
  --button-primary-bg-hover: var(--accent-brand-darker);
  --button-primary-color: var(--base-0);
  --button-primary-color-hover: var(--base-0);
  //-- Inverted
  --button-primary-inverted-bg: var(--accent-brand);
  --button-primary-inverted-bg-hover: var(--accent-brand-darker);
  --button-primary-inverted-color: var(--base-0);
  --button-primary-inverted-color-hover: var(--base-0);

  // Secondary buttons
  --button-secondary-bg: var(--base-a20);
  --button-secondary-bg-hover: var(--base-a30);
  --button-secondary-color: var(--base-80);
  --button-secondary-color-hover: var(--base-100);
  //-- Inverted
  --button-secondary-inverted-bg: var(--base-70);
  --button-secondary-inverted-bg-hover: var(--base-60);
  --button-secondary-inverted-color: var(--base-10);
  --button-secondary-inverted-color-hover: var(--base-0);

  // Outlined buttons
  --button-outlined-bg: transparent;
  --button-outlined-bg-hover: rgba(0, 0, 0, 0.035);
  --button-outlined-border: var(--base-20);
  --button-outlined-border-hover: var(--base-40);
  --button-outlined-color: var(--base-80);
  --button-outlined-color-hover: var(--base-100);
  //-- Inverted
  --button-outlined-inverted-bg: transparent;
  --button-outlined-inverted-bg-hover: rgba(255, 255, 255, 0.15);
  --button-outlined-inverted-border: var(--base-60);
  --button-outlined-inverted-border-hover: var(--base-40);
  --button-outlined-inverted-color: var(--base-30);
  --button-outlined-inverted-color-hover: var(--base-10);

  // Ghost buttons
  --button-ghost-bg: transparent;
  --button-ghost-bg-hover: rgba(0, 0, 0, 0.035);
  --button-ghost-color: var(--base-80);
  --button-ghost-color-hover: var(--base-100);
  --button-ghost-dimmed-color: var(--base-60);
  --button-ghost-dimmed-color-hover: var(--base-100);
  //-- Inverted
  --button-ghost-inverted-bg: transparent;
  --button-ghost-inverted-bg-hover: rgba(255, 255, 255, 0.15);
  --button-ghost-inverted-color: var(--base-30);
  --button-ghost-inverted-color-hover: var(--base-10);
  --button-ghost-dimmed-inverted-color: var(--base-50);
  --button-ghost-dimmed-inverted-color-hover: var(--base-100);

  // Forms
  --form-bg: var(--base-0);
  --form-bg-focus: var(--base-inverted);
  --form-border: var(--base-30);
  --form-border-hover: var(--base-40);
  --form-border-focus: var(--accent-brand);
  --form-placeholder-color: var(--base-60);

  // Form labels
  --label-primary: var(--base-90);
  --label-secondary: var(--base-60);

  // Default box
  --box: var(--base-90);
  --box-darker: var(--base-100);

  // Snackbars
  --snackbar-bg: var(--base-90);
  --snackbar-border: var(--base-100);
  --snackbar-color: var(--body-color-inverted);

  // Indicators
  --indicator-accent-bg: var(--accent-brand);
  --indicator-accent-color: var(--body-color-inverted);
  --indicator-critical-bg: var(--accent-danger);
  --indicator-critical-color: var(--body-color-inverted);
  --indicator-default-bg: var(--button-secondary-bg);
  --indicator-default-color: var(--button-secondary-color);

  // Tabs
  --tab-color: var(--base-80);
  --tab-color-hover: var(--accent-brand);
  --tab-color-current: var(--base-100);
  --tab-bg-hover: var(--accent-brand-a10);
  --tab-bg-current: var(--accent-brand);
  --tab-muted-color: var(--base-80);
  --tab-muted-color-hover: var(--base-90);
  --tab-muted-color-current: var(--base-100);
  --tab-muted-bg-hover: var(--base-a10);
  --tab-muted-bg-current: var(--base-20);
  --tab-pill-color-current: var(--base-inverted);

  // Tags
  --tag-color: var(--base-60);
  --tag-color-hover: var(--base-100);

  // Story
  --story-comments-bg: var(--base-0);

  // Select icon
  --select-icon: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEyIDE2TDYgMTBIMThMMTIgMTZaIiBmaWxsPSIjMDgwOTBBIi8+Cjwvc3ZnPg==);

  // Reactions
  --reaction-like-color: var(--accent-danger);
  --reaction-like-bg: var(--accent-danger-a10);
  --reaction-custom-color: var(--accent-success);
  --reaction-custom-bg: var(--accent-success-a10);
  --reaction-save-color: var(--accent-brand);
  --reaction-save-bg: var(--accent-brand-a10);
  --reaction-comment-color: var(--accent-warning);
  --reaction-comment-bg: var(--accent-warning-a10);
}
