:root {
  ////////////////////////////////////////////////////////////////////////////////////
  // Sizes. //////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////
  //
  // The reason why header height is set here instead of caluclating it based on its
  // content is because header is sometimes fixed and we need to offset page content
  // by specific value... And that's the value.

  --header-height: 56px;
  --site-width: 1280px;

  ////////////////////////////////////////////////////////////////////////////////////
  // Spacing Units. //////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////
  //
  // List of spacing units to use across all our components.
  //  • $(negative-)spacing-units variables are used for
  //    generate-classes() function.

  --su-1: 0.25rem; // 4px
  --su-2: 0.5rem; // 8px
  --su-3: 0.75rem; // 12px
  --su-4: 1rem; // 16px
  --su-5: 1.25rem; // 20px
  --su-6: 1.5rem; // 24px
  --su-7: 2rem; // 32px
  --su-8: 3rem; // 48px
  --su-9: 4rem; // 64px
  --su-10: 8rem; // 128px

  ////////////////////////////////////////////////////////////////////////////////////
  // Border radius ///////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////

  --radius: 2px;

  ////////////////////////////////////////////////////////////////////////////////////
  // Transitions /////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////

  --transition-func: cubic-bezier(0.17, 0.67, 0.5, 0.71);
  --transition-time: 100ms;
  --transition-props: var(--transition-func) var(--transition-time);

  ////////////////////////////////////////////////////////////////////////////////////
  // Typography. /////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////
  //
  // List of variables for typography.
  //  • Font families
  //  • Font sizes
  //  • Font weights
  //  • Line heights

  // Font families

  --ff-sans-serif: Newsreader, 'Noto Serif JP', serif;
  // --ff-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  //   Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  //   'Segoe UI Symbol';
  --ff-monospace: 'SF Mono', SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
    Courier, monospace;
  --ff-serif: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua',
    Georgia, serif;
  --ff-comic: 'Comic Sans MS', cursive, sans-serif;
  --ff-dyslexic: OpenDyslexic, sans-serif;

  ////////////////////////////////////////////////////////////////////////////////////

  // Font sizes

  --fs-xs: 0.75rem; // 12px
  --fs-s: 0.875rem; // 14px
  --fs-base: 1rem; // 16px
  --fs-l: 1.125rem; // 18px
  --fs-xl: 1.25rem; // 20px
  --fs-2xl: 1.5rem; // 24px
  --fs-3xl: 1.875rem; // 30px
  --fs-4xl: 2.25rem; // 36px
  --fs-5xl: 3rem; // 48px

  ////////////////////////////////////////////////////////////////////////////////////

  // Font weights

  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-heavy: 800;

  ////////////////////////////////////////////////////////////////////////////////////

  // Line heights

  --lh-tight: 1.25; // 20px for 16px font-size
  --lh-base: 1.5; // 24px for 16px font-size

  // Opacity

  --opacity-0: 0.00001;
  --opacity-25: 0.25;
  --opacity-50: 0.5;
  --opacity-75: 0.75;
  --opacity-100: 1;

  ////////////////////////////////////////////////////////////////////////////////////
  // Z-indexes. //////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////////////

  --z-negative: -1; // to hide something behind everything else
  --z-elevate: 1; // to elevate something, just a little, in relation to its sibling
  --z-sticky: 100; // header, mobile actions bar
  --z-drawer: 200; // sidebar sliding nav drawers
  --z-dropdown: 400; // all kinds of dropdowns
  --z-modal: 500; // modals
  --z-popover: 500; // tooltips, snackbars, etc.
}
