@function sel-lang($sel, $lang) {
  @return '#{$sel}[lang="#{$lang}"]';
}
@function article-lang($lang) {
  @return sel-lang('article', $lang);
}

@mixin font-lang($lang, $family) {
  $l-lang: article-lang($lang);

  #{$l-lang} .text-styles,
  #{$l-lang} .crayons-article__header h1,
  #{sel-lang('section#comments-container', $lang)} .text-styles p,
  #{sel-lang('.with-content-font', $lang)} {
    font-family: #{$family};
  }
}

$l-ja: article-lang('ja');

$t-xaleh: 'x-qilxaleh';

// overrides typography.scss
.text-styles {
  #{$l-ja} & {
    font-size: var(--fs-base);
    $scale: 1.25;
    line-height: calc(var(--lh-base) * #{$scale});

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: calc(var(--lh-tight) * #{$scale});
    }
  }
}

.crayons-article__header {
  #{$l-ja} & {
    --locale-fs-5xl: 2.5rem;
    --locale-fs-4xl: 2rem;
    --locale-fs-3xl: 1.5rem;
  }
}

@include font-lang($t-xaleh, 'Vekos, sans-serif');
