<% if listing.errors.any? %>
  <div class="crayons-notice crayons-notice--danger" role="alert">
    <h2 class="fs-l"><%= t.v.listings.errors(listing.errors.count) %></h2>
    <ul>
    <% listing.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
