<% _t = t.v.listings.form %>
<%= form_with(model: listing, local: true) do |form| %>
  <div class="crayons-card p-6 mb-6 grid gap-6">
    <%= render partial: "form_errors", locals: { listing: listing } %>

    <div id="listingform-data"
      data-listing="<%= listing.to_json(only: %i[id title body_markdown category cached_tag_list]) %>"
      data-organizations="<%= @organizations.to_json(only: %i[id name]) %>"
      data-categories-for-select="<%= select_options_for_categories.to_json %>"
      data-categories-for-details="<%= categories_available.transform_values { |value_hash| value_hash.except(:cost) }.values.to_json %>">
      <div class="grid gap-6">
        <div class="crayons-field">
          <%= form.label "title", class: "crayons-label" %>
          <%= form.text_field "title", placeholder: _t.title.placeholder, class: "crayons-textfield" %>
        </div>

        <div class="crayons-field">
          <%= form.label "body_markdown", class: "crayons-field__label" %>
          <%= form.text_area "body_markdown", placeholder: _t.body_markdown.placeholder, class: "crayons-textfield" %>
          <p class="crayons-field__description"><%= _t.body_markdown.desc %></p>
        </div>

        <div>
          <div class="crayons-field mb-4">
            <label class="crayons-field__label" id="listing_category_placeholder"><%= _t.category.label %></label>
            <select class="crayons-select" id="listing_category_placeholder">
              <option>
                <%= _t.category.placeholder %>
              </option>
            </select>
          </div>

          <details>
            <summary><%= _t.category.summary %></summary>
          </details>
        </div>
        <%# The following tag_list field is overriden by the Tags JS component
        from the listingForm. We keep this form field in place to facilitate
        SSR. By having the form field loaded on the DOM first with this view,
        we prevent the screen from "jumping" once the deferred JS is loaded
        and executed. %>
        <div class="crayons-field">
          <%= form.label "tag_list", class: "crayons-field__label" %>
          <%= form.text_field "tag_list", placeholder: _t.tags.placeholder, class: "crayons-textfield" %>
        </div>

        <div class="crayons-field">
          <label class="crayons-field__label" for="expires_at_placeholder">
            <%= t.helpers.label.listing.expires_at %>
            <p class="crayons-field__description">
              <%= _t.expiry.desc %>
            </p>
          </label>
          <input
            type="date"
            class="crayons-textfield m:max-w-50"
            id="expires_at_placeholder" />
        </div>

        <% if @organizations.present? && @organizations.size > 0 %>
          <div class="crayons-field">
            <%= form.label "organization_id", class: "crayons-field__label" %>
            <%= form.select :organization_id, { _t.organization.none => "None" }, {}, { class: "crayons-select m:max-w-50" } %>
            <p class="crayons-field__description"><%= _t.organization.desc %></p>
          </div>
        <% end %>

        <div class="crayons-field crayons-field--checkbox">
          <input
            type="checkbox"
            class="crayons-checkbox"
            id="contact_via_connect_placeholder"
            checked=true />

          <label class="crayons-field__label" for="contact_via_connect_placeholder">
            <%= _t.connect.subtitle %>
            <p class="crayons-field__description"><%= _t.connect.desc %></p>
          </label>
        </div>
      </div>
    </div>

    <% unless @organizations.present? %>
      <%= javascript_packs_with_chunks_tag "listingForm", defer: true %>
    <% end %>

    <div class="crayons-field">
      <%= form.label "location", _t.location.label, class: "crayons-field__label" %>
      <%= form.text_field "location", placeholder: _t.location.placeholder, class: "crayons-textfield m:max-w-50" %>
      <p class="crayons-field__description"><%= _t.location.desc %></p>
    </div>
  </div>

  <div class="px-4 m:px-0">
    <% unless @credits.size > 0 || (@organizations.present? && @organizations.sum(:unspent_credits_count) > 0) %>
      <div class="crayons-notice mb-4" aria-live="polite"><%= _t.no_credit %></div>
    <% end %>
    <div class="flex mb-4 items-center">
      <% if @credits.size > 0 || (@organizations.present? && @organizations.sum(:unspent_credits_count) > 0) %>
        <%= form.submit _t.publish, class: "crayons-btn mr-2" %>
      <% else %>
        <a href="/credits/new" class="crayons-btn mr-2" data-no-instant><%= _t.purchase %></a>
      <% end %>
      <%= form.button _t.save, type: "submit", name: "listing[action]", class: "crayons-btn crayons-btn--secondary", value: "draft" %>
    </div>

    <p class="fs-s color-base-70 mb-6"><%= _t.save_notice %></p>
  </div>
<% end %>
