<% if listing.bumped_at < (Time.zone.today - 30) %>
<div class="ltag__listing">
  <div class="ltag__listing-content">
    <h3>
      <a href="/listings">
        <%= t.v.listing.expired %>
      </a>
    </h3>
  </div>
</div>
<% else %>
<div class="ltag__listing">
  <div class="ltag__listing-content">
    <h3>
      <a href="/listings/<%= listing.category %>/<%= listing.slug %>">
        <%= listing.title %>
      </a>
    </h3>
    <div class="ltag__listing-body">
      <a href="/listings/<%= listing.category %>/<%= listing.slug %>">
        <%= listing.processed_html.html_safe %>
      </a>
    </div>
    <div class="ltag__listing-tags">
      <% listing.tag_list.each do |tag| %>
      <span class='ltag__listing-tag'><a href='/listings?t=<%= tag %>'><%= tag %></a></span>
      <% end %>
    </div>
    <div class="ltag__listing-author-info">
      <a href="/listings/<%= listing.category %>"><%= listing.category %></a>
      ・
      <a href="/<%= listing.author.username %>"><%= listing.author.name %></a>
    </div>
  </div>
</div>
<% end %>
