<% _t = t.v.listings.edit %>
<% _f = t.v.listings.form %>
<% title _t.heading %>

<header class="crayons-layout crayons-layout--limited-l flex items-center justify-between p-2 l:p-4 l:pb-0">
  <h1 class="crayons-title"><%= _t.heading %></h1>
</header>

<main class="crayons-layout crayons-layout--2-cols crayons-layout--2-cols--inverted crayons-layout--limited-l">
  <div class="crayons-layout__content">
    <div class="crayons-card mb-6 p-6">
      <%= form_for(@listing, html: { class: "grid gap-6 mb-6" }) do |f| %>
        <div class="crayons-notice" aria-live="polite"><%= _t.notice %></div>

        <%= render partial: "form_errors", locals: { listing: @listing } %>

        <% if (@listing.bumped_at && @listing.bumped_at > 24.hours.ago) || @listing.updated_at && !@listing.published %>
          <div class="crayons-field">
            <%= f.label "title", class: "crayons-field__label" %>
            <%= f.text_field "title", maxlength: 128, placeholder: _f.title.placeholder, class: "crayons-textfield" %>
          </div>
          <div class="crayons-field">
            <%= f.label "body_markdown", class: "crayons-field__label" %>
            <%= f.text_area "body_markdown", maxlength: 400, placeholder: _f.body_markdown.placeholder, class: "crayons-textfield" %>
            <p class="crayons-field__description"><%= _f.body_markdown.desc %></p>
          </div>
          <div class="crayons-field">
            <%= f.label "tag_list", class: "crayons-field__label" %>
            <%= f.text_field "tag_list", value: @listing.cached_tag_list, placeholder: _f.tags.placeholder, class: "crayons-textfield" %>
          </div>
          <div class="crayons-field">
            <%= f.label "expires_at", class: "crayons-field__label" %>
            <%= f.date_field "expires_at", min: Date.tomorrow, max: @listing.natural_expiration_date, class: "crayons-textfield m:max-w-50" %>
            <p class="crayons-field__description">
                <%= _f.expiry.desc %>
              </p>
          </div>
          <div class="crayons-field crayons-field--checkbox">
            <%= f.check_box "contact_via_connect", class: "crayons-checkbox" %>
            <label class="crayons-field__label" for="contact_via_connect">
              <%= _f.connect.subtitle %>
              <p class="crayons-field__description"><%= _f.connect.desc %></p>
            </label>
          </div>
          <div class="crayons-field">
            <%= f.label "location", class: "crayons-field__label" %>
            <%= f.text_field "location", maxlength: 32, placeholder: _f.location.placeholder, class: "crayons-textfield m:max-w-50" %>
            <p class="crayons-field__description"><%= _f.location.desc %></p>
          </div>
          <div>
            <% if @listing.published %>
              <%= f.submit _t.update, class: "crayons-btn" %>
            <% else %>
              <%= f.submit _t.update_draft, class: "crayons-btn crayons-btn--secondary" %>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <%= form_for(@listing, html: { class: "pt-6 mt-6 border-t-1 border-solid border-0 border-base-20 flex items-center" }) do |f| %>
        <% if @listing.published == false %>
          <input type="hidden" name="listing[action]" value="publish" />
          <%= f.submit _t.publish, class: "crayons-btn mr-4" %>
          <p><%= _t.not_published.text not: tag.strong(_t.not_published.not, class: "color-accent-danger") %></p>
        <% else %>
          <input type="hidden" name="listing[action]" value="unpublish" />
          <%= f.submit _t.unpublish, class: "crayons-btn crayons-btn--danger" %>
        <% end %>
      <% end %>
    </div>

    <% if @listing.bumped_at %>
      <%= form_for(@listing, html: { class: "crayons-card grid gap-6 p-6 mb-6" }) do |f| %>
        <header>
          <h2 class="mb-2"><%= _t.bump.subtitle %></h2>
          <p><%= _t.bump.desc %></p>
        </header>
        <div class="flex items-center">
          <%= f.submit _t.bump.button, class: "crayons-btn crayons-btn--secondary mr-4" %>
          <p class="color-base-70"><%= _t.bump.last time_ago_in_words(@listing.bumped_at, scope: :'datetime.distance_in_words_ago') %></p>
        </div>
        <input type="hidden" name="listing[action]" value="bump" />
      <% end %>
    <% end %>
  </div>

  <aside class="crayons-layout__sidebar-right px-3 m:px-0">
    <% unless @listing.published %>
      <%= form_for(@listing, html: { class: "crayons-card crayons-card--secondary p-3 m:p-4 mb-2 m:mb-4" }) do |f| %>
        <p class="pb-4">
          <%= _t.not_published.aside not: tag.strong(_t.not_published.not, class: "color-accent-danger") %>
        </p>
        <input type="hidden" name="listing[action]" value="publish" />
        <%= f.submit _t.publish, class: "crayons-btn w-100" %>
      <% end %>
    <% end %>

    <div class="crayons-card crayons-card--secondary p-3 m:p-4 mb-2 m:mb-4">
      <p>
        <% if (@listing.natural_expiration_date) < Date.today %>
          <%= time_ago_in_words @listing.natural_expiration_date, scope: :'datetime.expired_ago' %>
        <% else %>
          <%= time_ago_in_words @listing.natural_expiration_date, scope: :'datetime.expires_in' %>
        <% end %>
      </p>
      <% if @listing.bumped_at %>
        <p class="pt-3 mt-3 border-t-1 border-solid border-0 border-base-10">
          <%= _t.bump.last time_ago_in_words(@listing.bumped_at, scope: :'datetime.distance_in_words_ago') %>
        </p>
      <% end %>
    </div>
  </aside>
</main>
