<% _t = t.v.listings %>
<%= content_for :page_meta do %>
  <% title _t.heading %>

  <link rel="canonical" href="<%= app_url(request.path) %>" />
  <meta name="description" content="<%= Settings::Community.community_description %>">
  <%= meta_keywords_default %>

  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= app_url(request.path) %>" />
  <meta property="og:site_name" content="<%= community_name %>" />
  <% if @displayed_listing %>
    <meta property="og:title" content="<%= truncate @displayed_listing.title, length: 54 %>">
    <meta property="og:description" content="<%= _t.meta.description community: community_name %>" />
    <meta property="og:image" content="<%= listing_social_image_url @displayed_listing %>">
    <meta name="twitter:title" content="<%= truncate @displayed_listing.title, length: 54 %>">
    <meta name="twitter:description" content="<%= _t.meta.description community: community_name %>">
    <meta name="twitter:image:src" content="<%= listing_social_image_url @displayed_listing %>">
  <% else %>
    <meta property="og:title" content="Listings" />
    <meta property="og:description" content="<%= Settings::Community.community_description %>" />
    <meta property="og:image" content="<%= Settings::General.main_social_image %>">
    <meta name="twitter:title" content="Listings">
    <meta name="twitter:description" content="<%= Settings::Community.community_description %>">
    <meta name="twitter:image:src" content="<%= Settings::General.main_social_image %>">
  <% end %>
  <meta name="twitter:site" content="@<%= Settings::General.social_media_handles["twitter"] %>">
  <meta name="twitter:card" content="summary_large_image">
<% end %>

<main id="main-content">

  <div class="crayons-layout flex items-center justify-between p-2 l:p-4 l:pb-0">
    <h1 class="crayons-title"><%= _t.heading %></h1>

    <nav class="flex items-center" aria-label="<%= _t.nav.aria_label %>">
      <ul class="list-none flex">
        <li> <a href="<%= new_listing_path %>" class="crayons-btn crayons-btn--secondary"><%= _t.nav.create %></a></li>
        <li> <a href="<%= listings_dashboard_path %>" class="crayons-btn crayons-btn--secondary ml-2"><%= _t.nav.manage %></a></li>
      </ul>
    </nav>
  </div>

  <div class="listings-container" id="listings-index-container"
    data-category="<%= params[:category] %>" data-listings="<%= @listings_json %>"
    data-allcategories="<%= categories_for_display.to_json %>"
    <% if @displayed_listing %>
    data-displayedlisting="<%= @displayed_listing_json %> "
    <% end %>>
  </div>

</main>
<%= javascript_packs_with_chunks_tag "listings", defer: true %>
