<% _t = t.v.listings.new %>
<% title _t.meta.title %>

<header class="crayons-layout crayons-layout--limited-l flex items-center justify-between p-2 l:p-4 l:pb-0">
  <h1 class="crayons-title"><%= _t.heading %></h1>
</header>

<main class="crayons-layout crayons-layout--2-cols crayons-layout--2-cols--inverted crayons-layout--limited-l">
  <div class="crayons-layout__content">
    <%= render "form", listing: @listing %>
  </div>
  <aside class="crayons-layout__sidebar-right px-3 m:px-0">
    <div class="crayons-card crayons-card--secondary p-3 m:p-6 mb-2 m:mb-4">
      <span class="color-base-60"><%= _t.personal %></span>
      <div class="flex m:flex-col items-center m:items-start justify-between">
        <strong class="fs-2xl m:fs-3xl lh-tight color-base-90 m:mb-4 block" id="test-credits-size"><%= @credits.size %></strong>
        <a target="_blank" rel="noopener noreferrer" class="crayons-btn crayons-btn--secondary m:w-100" href="/credits/purchase" data-no-instant><%= _t.buy %></a>
      </div>
    </div>

    <% if @organizations.present? %>
      <div class="crayons-card crayons-card--secondary p-3 m:p-6 mb-4">
        <span class="color-base-60"><%= _t.organization %></label>
        <% if @organizations.size > 1 %>
          <select id="org-credits-select" class="org-credits-select crayons-select my-2">
            <% @organizations.each do |org| %>
              <option value="<%= org.id %>" data-credits="<%= org.credits.unspent.size %>"><%= org.name %></option>
            <% end %>
          </select>
        <% end %>
        <div class="flex m:flex-col items-center m:items-start justify-between">
          <strong class="fs-2xl m:fs-3xl lh-tight color-base-90 m:mb-4 block" id="org-credits-number"><%= @organizations.first.credits.unspent.size %></strong>
          <a id="org-credits-purchase-link" target="_blank" rel="noopener noreferrer" class="crayons-btn crayons-btn--secondary m:w-100" href="/credits/purchase?organization_id=<%= @organizations.first.id %>" data-no-instant><%= _t.buy %></a>
        </div>
        <%= javascript_packs_with_chunks_tag "listingForm", "orgCreditsSelector", defer: true %>
      </div>
    <% end %>

    <div class="fs-s color-base-60 mb-4">
      <h3 class="fs-base fw-bold color-base-70 mb-2"><%= _t.disclaimer.subtitle %></h3>
      <p class="mb-2"><%= _t.disclaimer.desc1 community: community_name %></p>
      <p><%= _t.disclaimer.desc2 %></p>
    </div>
  </aside>
</main>
