<% _t = t.v.comments.edited %>
<span class="color-base-30 px-2" role="presentation">&bull;</span>

<a href="<%= URL.comment(decorated_comment) %>" class="comment-date crayons-link crayons-link--secondary fs-s">
  <time datetime="<%= decorated_comment.published_timestamp %>">
    <%= decorated_comment.readable_publish_date %>
  </time>

  <% if decorated_comment.edited_at.present? %>
    <%= _t.text(
          on: tag.span(_t.on(date: tag.time(decorated_comment.edited_at.strftime(t.date.readable.no_year), datetime: decorated_comment.edited_timestamp), class: %w[hidden m:inline-block]))
    ) %>
  <% end %>
</a>
