<% _t = t.v.comments.orphan %>
<div class="comments-container comments-dedicated-page-container">
  <h3><%= _t.heading %></h3>
  <div class="single-comment-node root">
    <% @user ||= @root_comment.user %>
    <% if @root_comment.blank? || @root_comment.deleted %>
      <div class="inner-comment">
        <div class="body">
          <%= _t.deleted %>
        </div>
      </div>
    <% else %>
      <div class="inner-comment">
        <% decorated_comment = @root_comment.decorate %>

        <% if decorated_comment.low_quality %>
          <div class="crayons-notice crayons-notice--warning low-quality-comment-marker">
            <%= image_tag(Images::Optimizer.call(Settings::General.mascot_image_url, width: 50, height: 50, crop: "imagga_scale"), class: "sloan", alt: "Sloan, the sloth mascot", loading: "lazy") %>
            <%= t.v.comments.quality.low %> <a href="/code-of-conduct"><%= t.v.comments.quality.conduct %></a>
          </div>
        <% end %>

        <div class="details <%= "low-quality-comment" if decorated_comment.low_quality %>">
          <a href="/<%= @user.username %>">
            <img class="profile-pic" src="<%= Images::Profile.call(@user.profile_image_url, length: 50) %>" alt="<%= @user.username %> profile image" />
            <span class="comment-username">
              <span class="comment-username-inner">
                <%= @user.name %>
              </span>
            </span>
          </a>
          <% if @user.twitter_username.present? %>
            <a href="https://twitter.com/<%= @user.twitter_username %>" rel="noopener noreferrer" target="_blank">
              <%= image_tag("twitter-logo.svg", class: "icon-img", alt: "twitter logo") %></a>
          <% end %>
          <% if @user.github_username.present? %>
            <a href="https://github.com/<%= @user.github_username %>" rel="noopener noreferrer" target="_blank">
              <%= image_tag("github-logo.svg", class: "icon-img", alt: "github logo") %>
            </a>
          <% end %>
          <%= render "comments/comment_date", decorated_comment: decorated_comment %>
        </div>
        <div
          class="body
          <%= "low-quality-comment" if decorated_comment.low_quality %>
          <%= "color-base-60" if @root_comment.decorate.low_quality %>">
          <%= sanitize @root_comment.processed_html %>
          <button class="reaction-button reacted" disabled>
            <img class="voted-heart" src="<%= asset_path("emoji/emoji-one-heart.png") %>" alt="Favorite heart button" />
            <span class="reactions-count"><%= @root_comment.reactions_count %></span>
          </button>
        </div>
        <div class="actions">
          <% if @root_comment.user_id == current_user&.id %>
            <span class="current-user-actions">
              <a href="<%= @root_comment.path %>/delete_confirm" class="edit-butt" rel="nofollow"><%= _t.delete %></a>
              <a href="<%= @root_comment.path %>/edit" class="edit-butt" rel="nofollow"><%= _t.edit %></a>
            </span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
