<% _t = t.v.comments.hidden %>
<div class="align-center">
  <% if @comments_to_show_count && @article.comments_count > @comments_to_show_count %>
    <div class="mb-4">
      <a class="crayons-btn crayons-btn--secondary w-100" href="<%= @article.path %>/comments">
        <%= t.v.articles.comments.view(@article.comments_count) %>
      </a>
    </div>
  <% end %>

  <% if @article.any_comments_hidden %>
    <p class="fs-s color-base-60 mb-4">
      <%= _t.text info: link_to(_t.info, "/faq") %>
    </p>
  <% end %>

  <%= render "articles/conduct_and_abuse_actions", page: "articles_show" %>
</div>
