<% _t = t.v.articles.conduct %>
<nav class="fs-s align-center block" aria-label="<%= _t.aria_label %>">
  <a href="/code-of-conduct" class="crayons-link crayons-link--secondary"><%= _t.code %></a>
  <span class="opacity-25 px-2" role="presentation">&bull;</span>
  <a href="/report-abuse" class="crayons-link crayons-link--secondary"><%= _t.report %></a>
</nav>
