<% _t = t.v.articles.comments %>
<% cache("whole-comment-area-#{@article.id}-#{@article.last_comment_at}-#{@article.show_comments}-#{@discussion_lock&.updated_at}", expires_in: 2.hours) do %>
  <section id="comments" data-follow-button-container="true" data-updated-at="<%= Time.current %>" class="text-padding mb-4 border-t-1 border-0 border-solid border-base-10">
    <% if @article.show_comments %>
      <header class="relative flex justify-between items-center mb-6">
        <h2 class="crayons-subtitle-1">
          <%= _t.subtitle(
                count: tag.span(_t.count(@article.comments_count), class: "js-comments-count", data: { comments_count: @article.comments_count }),
              ) %>
        </h2>
        <div id="comment-subscription" class="print-hidden">
          <div role="presentation" class="crayons-btn-group">
            <span class="crayons-btn crayons-btn--outlined"><%= _t.subscribe %></span>
          </div>
        </div>
      </header>

      <div
        id="comments-container"
        data-testid="comments-container"
        data-commentable-id="<%= @article.id %>"
        data-commentable-type="Article"
        data-has-recent-comment-activity="<%= @article.has_recent_comment_activity? %>">

        <% if @discussion_lock %>
          <%= render "/comments/discussion_lock_reason" %>
        <% else %>
          <%= render "/comments/form", commentable: @article, commentable_type: "Article" %>
        <% end %>

        <div class="comments" id="comment-trees-container">
          <% if @article.comments_count > 0 %>
            <% Comment.tree_for(@article, @comments_to_show_count).each do |comment, sub_comments| %>
              <% cache ["comment_root_cached_tree", comment] do %>
                <%= tree_for(comment, sub_comments, @article) %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>

      <%= render "articles/comments_actions" %>
    <% end %>
  </section>
<% end %>
<% return if @warm_only %>
