<% _t = t.v.articles %>
<div class="crayons-story <% if featured == true %>crayons-story--featured<% end %>" data-content-user-id="<%= story.user_id %>">
  <a href="<%= story.path %>" aria-labelledby="article-link-<%= story.id %>" class="crayons-story__hidden-navigation-link"><%= story.title %></a>
  <% if featured == true %>
    <div id="featured-story-marker" data-featured-article="articles-<%= story.id %>"></div>
  <% end %>
  <% if featured == true || (feed_style_preference == "rich" && story.main_image.present?) %>
    <a href="<%= story.path %>" title="<%= story.title %>" aria-label="article"
      style="background-color: <%= story.main_image_background_hex_color %>; background-image: url(<%= cloud_cover_url(story.main_image) %>);"
      class="crayons-story__cover crayons-story__cover__image">
      <span class="hidden"><%= story.title %></span>
    </a>
  <% end %>

  <% if story.video.present? && story.video_thumbnail_url.present? %>
  <a href="<%= story.path %>" class="crayons-story__video" style="background-image:url(<%= story.cloudinary_video_url %>)">
    <span class="crayons-story__video__time">
      <%= story.video_duration_in_minutes %>
    </span>
  </a>
  <% end %>

  <div class="crayons-story__body">
    <div class="crayons-story__indention">
      <div class="crayons-story__middle">
        <h2 class="crayons-story__title with-content-font" lang="<%= story.lang %>">
          <a href="<%= story.path %>" data-preload-image="<%= cloud_cover_url(story.main_image) %>" id="article-link-<%= story.id %>">
            <%= story.title %>
          </a>
        </h2>
        <div class="crayons-story__tags">
          <% flare_tag = FlareTag.new(story, @tag).tag %>
          <% if flare_tag %>
            <a href="<%= URL.tag flare_tag %>" class="crayons-tag" style="background:<%= flare_tag.bg_color_hex %>;color:<%= flare_tag.text_color_hex %>"><span class="crayons-tag__prefix">#</span><%= flare_tag.name %></a>
          <% end %>
          <% tags_to_display = story.cached_tag_list_array
             if flare_tag
               tags_to_display = tags_to_display.reject { |tag| tag == flare_tag.name }
             end %>
          <% tags_to_display.each do |tag| %>
          <a href="/t/<%= tag %>" class="crayons-tag"><span class="crayons-tag__prefix">#</span><%= tag %></a>
          <% end %>
        </div>
      </div>
      <div class="crayons-story__bottom">
        <div class="crayons-story__details">
          <% if story.public_reactions_count > 0 %>
            <a href="<%= story.path %>" class="crayons-btn crayons-btn--s crayons-btn--ghost crayons-btn--story crayons-reaction" data-reaction-count data-reactable-id="<%= story.id %>">
              <span class="crayons-reaction__icon"><%= inline_svg_tag("small-heart.svg", aria: true, width: 24, height: 24, class: "crayons-icon", title: t.v.reactions.summary.title) %></span>
              <span class="crayons-reaction__count">
                <%= story.public_reactions_count %>
              </span>
            </a>
          <% end %>
          <a href="<%= story.path %>#comments" class="crayons-btn crayons-btn--s crayons-btn--ghost crayons-btn--story crayons-reaction">
            <% if story.comments_count > 0 %>
              <span class="crayons-reaction__icon"><%= inline_svg_tag("small-comment.svg", aria: true, width: 24, height: 24, class: "crayons-icon", title: t.v.comments.summary.title) %></span>
              <span class="crayons-reaction__count">
                <%= story.comments_count %>
              </span>
            <% else %>
              <span class="crayons-reaction__icon"><%= inline_svg_tag("small-comment.svg", aria: true, width: 24, height: 24, class: "crayons-icon", title: t.v.comments.summary.title) %></span>
              <span class="crayons-reaction__count"><%= t.v.comments.plucked.empty %></span>
            <% end %>
          </a>
        </div>
      </div>
    </div>

    <div class="crayons-story__top">
      <div class="crayons-story__meta">
        <div class="crayons-story__author-pic">
          <% if story.cached_organization && !@organization_article_index %>
          <a class="crayons-logo crayons-logo--l" href="/<%= story.cached_organization.slug %>">
            <img alt="<%= story.cached_organization.name %> logo" src="<%= story.cached_organization.profile_image_90 %>" class="crayons-logo__image" loading="lazy" />
          </a>
          <% end %>

          <a href="/<%= story.cached_user.username %>" class="crayons-avatar <% if story.cached_organization && !@organization_article_index %> crayons-avatar--s absolute -right-2 -bottom-2 border-solid border-2 border-base-inverted <% else %> crayons-avatar--l <% end %> ">
            <img src="<%= Images::Profile.call(story.cached_user.profile_image_url, length: 90) %>" alt="<%= story.cached_user.username %> profile" class="crayons-avatar__image" loading="lazy" />
          </a>
        </div>
        <div>
          <p>
            <a href="/<%= story.cached_user.username %>" class="crayons-story__secondary fw-medium">
              <%= story.cached_user.name %>
            </a>
            <% if story.cached_organization && !@organization_article_index %>
            <span>
              <%= _t.for_org(
                    start: tag("span", { class: %w[crayons-story__tertiary fw-normal] }, true),
                    end: "</span>".html_safe,
                    org: tag.a(story.cached_organization.name, href: "/#{story.cached_organization.slug}", class: %w[crayons-story__secondary fw-medium]),
                  ) %>
            <% end %>
          </p>
          <a href="<%= story.path %>" class="crayons-story__tertiary fs-xs"><time datetime="<%= story.published_timestamp %>"><%= story.readable_publish_date %></time><span class="time-ago-indicator-initial-placeholder" data-seconds="<%= story.published_at_int %>"></span></a>
        </div>
      </div>

      <% if local_assigns[:pinned] == true %>
        <div
          class="pinned color-accent-brand fw-bold"
          data-testid="pinned-article">
          <%= inline_svg_tag("pin.svg", alt: "", aria_hidden: true, class: "mr-1 align-text-bottom color-accent-brand") %><%= t.v.pins.article ext: tag.span(t.v.pins.ext, class: "hidden s:inline") %>
        </div>
      <% end %>

        <div class="crayons-story__save">
          <small class="crayons-story__tertiary fs-xs mr-2">
            <%= lang_name story.lang %><br>
            <% cdiv, cmod = story.reading_time.divmod(100) %>
            <%= _t.reading_time(if cdiv < 1
                                  100
                                else
                                  cdiv * 100 + (cmod >= 50 ? 100 : 0)
                                end) %>
          </small>
          <button type="button" id="article-save-button-<%= story.id %>" class="crayons-btn crayons-btn--secondary crayons-btn--s bookmark-button" data-reactable-id="<%= story.id %>" aria-label="<%= _t.save.aria_label %>" title="<%= _t.save.title %>">
            <span class="bm-initial"><%= _t.save.initial %></span>
            <span class="bm-success"><%= _t.save.success %></span>
          </button>
        </div>
    </div>
  </div>
</div>
