<% _t = t.v.comments.plucked %>
<a class="crayons-link crayons-link--contentful" href="<%= plucked_article[0] %>">
  <%= plucked_article[1] %>
  <% if show_comment_count %>
    <div class="crayons-link__secondary">
      <% if plucked_article[2] > 0 %>
        <%= _t.count(plucked_article[2]) %>
      <% else %>
        <span class="crayons-indicator crayons-indicator--accent"><%= _t.empty %></span>
      <% end %>
    </div>
  <% end %>
</a>
