<% _t = t.v.editor %>
<% title _t.heading.edit %>

<% if @article.video.present? %>
  <div class="article-form-video-preview">
    <% if @article.video_state == "PROGRESSING" %>
      <h1 style="color:#062144;margin-top:1.1em"><%= _t.video.progress.heading %></h1>
      <img src="https://media.giphy.com/media/tXL4FHPSnVJ0A/giphy.gif" style="border-radius:12px;height:317px" alt="Bored kid incessantly tapping his fingers">
      <div style="max-width:500px;margin:18px auto 0px;font-size:0.8em;">
        <p>
          <strong><%= _t.video.progress.notice_1 %></strong>
        </p>
        <p>
          <em><%= _t.video.progress.notice_2 %></em>
        </p>
      </div>
    <% elsif @article.video_state == "COMPLETED" %>
      <br /><br />
      <%= render "articles/video_player", meta_tags: false, article: @article %>
      <div class="article-form-video-image-url">
        <%= form_for(@article) do |f| %>
          <%= _t.video.submit_image.text %><%= f.text_field :video_thumbnail_url, placeholder: _t.video.submit_image.placeholder %>
          <%= f.submit _t.video.submit_image.button, class: "crayons-btn" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<%= render "shared/webcomponents_loader_script" %>
<%= render "articles/v2_form", article: @article, organizations: @organizations, version: @version, user_lang: @default_lang %>

<%= javascript_packs_with_chunks_tag "clipboardCopy", "articleForm", defer: true %>
<div id="markdown-lint-js-path" class="hidden" data-markdown-it-js-path="<%= asset_path("markdown-it.min.js") %>" data-markdown-lint-js-path="<%= asset_path("markdownlint-browser.min.js") %>">
