<% _t = t.v.manager %>
<% title _t.heading(title: @article.title) %>
<main id="main-content">
  <div class="dashboard-manage-header">
    <div class="dashboard-manage-header-inner-container">
      <div class="dashboard-manage-nav">
        <a href="/dashboard"><%= _t.nav.dashboard %></a><%= _t.nav.text %>
      </div>
      <% if flash[:error] %>
        <div role="alert">
          <h3 class="manage-page-error"><%= _t.error.pins(error: flash[:pins_error]) %></h3>
        </div>
      <% end %>
      <% if flash[:success] %>
        <div role="alert">
          <h3 class="manage-page-success"><%= flash[:success] %></h3>
        </div>
      <% end %>
      <h2><%= _t.desc.heading %></h2>
      <p><strong><%= _t.desc.subtitle %></strong><%= _t.desc.text %>
      <h2><%= _t.tips.heading %></h2>
      <ol>
        <li>
          <%= _t.tips.text_1 %>
        </li>
        <li>
          <%= _t.tips.text_2 %>
        </li>
        <li>
          <%= _t.tips.text_3 %>
        </li>
      </ol>
    </div>
  </div>

  <div class="dashboard-container crayons-layout">
    <%= render "dashboards/dashboard_article", article: @article, discussion_lock: @discussion_lock, organization: @article.organization, org_admin: @user.org_admin?(@article.organization), manage_view: true %>
    <div class="single-article single-article-manage-form-wrapper">
      <%= form_for(RatingVote.new) do |f| %>
        <h2><%= _t.rating.heading %></h2>
        <%= f.hidden_field :article_id, value: @article.id %>
        <%= f.hidden_field :group, value: "experience_level" %>
        <span class="button-section button-section-newbie">
          <button value="1" name="rating_vote[rating]" class="level-rating-button <%= "selected" if @rating_vote&.rating.to_d == 1.0.to_d %>">1</button>
          <button value="2" name="rating_vote[rating]" class="level-rating-button <%= "selected" if @rating_vote&.rating.to_d == 2.0.to_d %>">2</button>
          <button value="3" name="rating_vote[rating]" class="level-rating-button <%= "selected" if @rating_vote&.rating.to_d == 3.0.to_d %>">3</button>
        </span>
        <span class="button-section button-section-intermediate">
          <button value="4" name="rating_vote[rating]" class="level-rating-button <%= "selected" if @rating_vote&.rating.to_d == 4.0.to_d %>">4</button>
          <button value="5" name="rating_vote[rating]" class="level-rating-button <%= "selected" if @rating_vote&.rating.to_d == 5.0.to_d %>">5</button>
          <button value="6" name="rating_vote[rating]" class="level-rating-button <%= "selected" if @rating_vote&.rating.to_d == 6.0.to_d %>">6</button>
          <button value="7" name="rating_vote[rating]" class="level-rating-button <%= "selected" if @rating_vote&.rating.to_d == 7.0.to_d %>">7</button>
        </span>
        <span class="button-section button-section-senior">
          <button value="8" name="rating_vote[rating]" class="level-rating-button <%= "selected" if @rating_vote&.rating.to_d == 8.0.to_d %>">8</button>
          <button value="9" name="rating_vote[rating]" class="level-rating-button <%= "selected" if @rating_vote&.rating.to_d == 9.0.to_d %>">9</button>
          <button value="10" name="rating_vote[rating]" class="level-rating-button <%= "selected" if @rating_vote&.rating.to_d == 10.0.to_d %>">10</button>
        </span>
        <p><%= _t.rating.text %></p>
        <p><span class="scale-pod"><%= _t.rating.lower %></span><span class="scale-pod"><%= _t.rating.higher %></span></p>
      <% end %>
    </div>
  </div>
</main>
