<% title "" %>

<main id="main-content">
  <h1 class="fs-4xl fw-medium align-center my-5"><%= t.v.stats.heading article: link_to(@article.title, @article.current_state_path, id: "article", data: { "article-id" => @article.id, "organization-id" => @organization_id }) %></h1>

  <%= render "shared/stats" %>
</main>

<%= javascript_packs_with_chunks_tag "analyticsArticle", defer: true %>
