<% _t = t.v.email_subscriptions.unsubscribe %>
<meta name="robots" content="noindex" />
<div class="unsubscribed">
  <div class="unsubscribed__title">
    <%= _t.heading type: @email_type %>
  </div>
  <br />
  <div class="unsubscribed__message">
    <%= _t.desc link: tag.a(_t.link, href: app_url(user_settings_path(:notifications))) %>
  </div>
</div>
