<%= form_for(Settings::General.new, url: admin_settings_general_settings_path) do |f| %>
  <div class="card mt-3">
    <%= render partial: "admin/shared/card_header",
               locals: {
                 header: "API Tokens",
                 state: "collapse",
                 target: "apiBodyContainer",
                 expanded: false
               } %>
    <div id="apiBodyContainer" class="card-body collapse hide" aria-labelledby="apiBodyContainer">
      <fieldset class="grid gap-4">
        <div class="crayons-field">
          <%= admin_config_label :health_check_token %>
          <%= admin_config_description Constants::Settings::General.details[:health_check_token][:description] %>
          <%= f.text_field :health_check_token,
                           class: "crayons-textfield",
                           value: Settings::General.health_check_token,
                           placeholder: Constants::Settings::General.details[:health_check_token][:placeholder] %>
        </div>
        <div class="crayons-field">
          <%= admin_config_label :video_encoder_key %>
          <%= admin_config_description Constants::Settings::General.details[:video_encoder_key][:description] %>
          <%= f.text_field :video_encoder_key,
                           class: "crayons-textfield",
                           value: Settings::General.video_encoder_key,
                           placeholder: Constants::Settings::General.details[:video_encoder_key][:placeholder] %>
        </div>
        <%= render "form_submission", f: f %>
      </fieldset>
    </div>
  </div>
<% end %>
