<%= form_for(Settings::General.new, url: admin_settings_general_settings_path) do |f| %>
  <div class="card mt-3">
    <%= render partial: "admin/shared/card_header",
               locals: {
                 header: "Google Analytics",
                 state: "collapse",
                 target: "gaBodyContainer",
                 expanded: false
               } %>
    <div id="gaBodyContainer" class="card-body collapse hide" aria-labelledby="gaBodyContainer">
      <fieldset class="grid gap-4">
        <div class="crayons-field">
          <%= admin_config_label :ga_tracking_id, "View ID" %>
          <%= admin_config_description Constants::Settings::General.details[:ga_tracking_id][:description] %>
          <%= f.text_field :ga_tracking_id,
                           class: "crayons-textfield",
                           value: Settings::General.ga_tracking_id %>
        </div>

        <%= render "form_submission", f: f %>
      </fieldset>
    </div>
  </div>
<% end %>
