<%= form_for(Settings::General.new, url: admin_settings_general_settings_path) do |f| %>
  <div class="card mt-3">
    <%= render partial: "admin/shared/card_header",
               locals: {
                 header: "Meta Keywords",
                 state: "collapse",
                 target: "metaKeywordsBodyContainer",
                 expanded: false
               } %>
    <div id="metaKeywordsBodyContainer" class="card-body collapse hide" aria-labelledby="metaKeywordsBodyContainer">
      <fieldset class="grid gap-4">
        <%= f.fields_for :meta_keywords do |meta_keywords_field| %>
          <% Settings::General.meta_keywords.each do |area, keywords| %>
            <div class="crayons-field">
              <%= admin_config_label area.to_s %>
              <p class="crayons-field__description">
              <%= area.capitalize %><%= "page" unless area == "default" %> keywords
              </p>
              <%= meta_keywords_field.text_field area,
                                                 class: "crayons-textfield",
                                                 value: Settings::General.meta_keywords[area],
                                                 placeholder: Constants::Settings::General.details[:meta_keywords][:placeholder] %>
            </div>
          <% end %>
        <% end %>

        <%= render "form_submission", f: f %>
      </fieldset>
    </div>
  </div>
<% end %>
