<%= form_for(Settings::General.new, url: admin_settings_general_settings_path) do |f| %>
  <div class="card mt-3">
    <%= render partial: "admin/shared/card_header",
               locals: {
                 header: "Monetization",
                 state: "collapse",
                 target: "monetizationBodyContainer",
                 expanded: false
               } %>
    <div id="monetizationBodyContainer" class="card-body collapse hide" aria-labelledby="monetizationBodyContainer">
      <fieldset class="grid gap-4">

        <div class="crayons-field">
          <%= admin_config_label :stripe_api_key, "Stripe API key" %>
          <%= admin_config_description Constants::Settings::General.details[:stripe_api_key][:description] %>
          <%= f.text_field :stripe_api_key,
                           class: "crayons-textfield",
                           value: Settings::General.stripe_api_key,
                           placeholder: Constants::Settings::General.details[:stripe_api_key][:placeholder] %>
        </div>

        <div class="crayons-field">
          <%= admin_config_label :stripe_publishable_key %>
          <%= admin_config_description Constants::Settings::General.details[:stripe_publishable_key][:description] %>
          <%= f.text_field :stripe_publishable_key,
                           class: "crayons-textfield",
                           value: Settings::General.stripe_publishable_key,
                           placeholder: Constants::Settings::General.details[:stripe_publishable_key][:placeholder] %>
        </div>

        <div class="crayons-field">
          <%= admin_config_label :payment_pointer %>
          <%= admin_config_description Constants::Settings::General.details[:payment_pointer][:description] %>
          <%= f.text_field :payment_pointer,
                           class: "crayons-textfield",
                           value: Settings::General.payment_pointer,
                           placeholder: Constants::Settings::General.details[:payment_pointer][:placeholder] %>
        </div>

        <%= render "form_submission", f: f %>
      </fieldset>
    </div>
  </div>
<% end %>
