<%= form_for(Settings::General.new, url: admin_settings_general_settings_path) do |f| %>
  <div class="card mt-3">
    <%= render partial: "admin/shared/card_header",
               locals: {
                 header: "Newsletter",
                 state: "collapse",
                 target: "newsletterBodyContainer",
                 expanded: false
               } %>
    <div id="newsletterBodyContainer" class="card-body collapse hide" aria-labelledby="newsletterBodyContainer">
      <fieldset class="grid gap-4">
        <div class="crayons-field">
          <%= admin_config_label :mailchimp_api_key, "Mailchimp API Key" %>
          <%= admin_config_description Constants::Settings::General.details[:mailchimp_api_key][:description] %>
          <%= f.text_field :mailchimp_api_key,
                           class: "crayons-textfield",
                           value: Settings::General.mailchimp_api_key %>
        </div>

        <div class="crayons-field">
          <%= admin_config_label :mailchimp_newsletter_id, "Main Newsletter" %>
          <%= admin_config_description Constants::Settings::General.details[:mailchimp_newsletter_id][:description] %>
          <%= f.text_field :mailchimp_newsletter_id,
                           class: "crayons-textfield",
                           value: Settings::General.mailchimp_newsletter_id %>
        </div>

        <div class="crayons-field">
          <%= admin_config_label :mailchimp_sustaining_members_id, "Sustaining Members Newsletter" %>
          <%= admin_config_description Constants::Settings::General.details[:mailchimp_sustaining_members_id][:description] %>
          <%= f.text_field :mailchimp_sustaining_members_id,
                           class: "crayons-textfield",
                           value: Settings::General.mailchimp_sustaining_members_id %>
        </div>

        <div class="crayons-field">
          <%= admin_config_label :mailchimp_tag_moderators_id, "Tag Moderators Newsletter" %>
          <%= admin_config_description Constants::Settings::General.details[:mailchimp_tag_moderators_id][:description] %>
          <%= f.text_field :mailchimp_tag_moderators_id,
                           class: "crayons-textfield",
                           value: Settings::General.mailchimp_tag_moderators_id %>
        </div>

        <div class="crayons-field">
          <%= admin_config_label :mailchimp_community_moderators_id, "Community Moderators Newsletter" %>
          <%= admin_config_description Constants::Settings::General.details[:mailchimp_community_moderators_id][:description] %>
          <%= f.text_field :mailchimp_community_moderators_id,
                           class: "crayons-textfield",
                           value: Settings::General.mailchimp_community_moderators_id %>
        </div>

        <%= render "form_submission", f: f %>
      </fieldset>
    </div>
  </div>
<% end %>
