<%= form_for(Settings::General.new, url: admin_settings_general_settings_path) do |f| %>
  <div class="card mt-3">
    <%= render partial: "admin/shared/card_header",
               locals: {
                 header: "Onboarding",
                 state: "collapse",
                 target: "onboardingBodyContainer",
                 expanded: false
               } %>
    <div id="onboardingBodyContainer" class="card-body collapse hide" aria-labelledby="onboardingBodyContainer">
      <fieldset class="grid gap-4">
        <div class="crayons-field">
          <%= admin_config_label :onboarding_background_image %>
          <%= admin_config_description Constants::Settings::General.details[:onboarding_background_image][:description] %>
          <%= f.text_field :onboarding_background_image,
                           class: "crayons-textfield",
                           value: Settings::General.onboarding_background_image,
                           placeholder: Constants::Settings::General.details[:onboarding_background_image][:placeholder] %>
          <div class="row mt-2">
            <div class="col-12">
              <img alt="onboarding background image" class="img-fluid" src="<%= Settings::General.onboarding_background_image %>" loading="lazy" />
            </div>
          </div>
        </div>

        <div class="crayons-field">
          <%= admin_config_label :suggested_users %>
          <%= admin_config_description Constants::Settings::General.details[:suggested_users][:description] %>
          <%= f.text_field :suggested_users,
                           class: "crayons-textfield",
                           value: Settings::General.suggested_users.join(","),
                           placeholder: Constants::Settings::General.details[:suggested_users][:placeholder] %>
        </div>

        <div class="crayons-field crayons-field--checkbox">
          <%= f.check_box :prefer_manual_suggested_users, checked: Settings::General.prefer_manual_suggested_users, class: "crayons-checkbox" %>
          <div class="mt-0">
            <%= admin_config_label :prefer_manual_suggested_users %>
            <p class="crayons-field__description">
            <%= Constants::Settings::General.details[:prefer_manual_suggested_users][:description] %>
            </p>
          </div>
        </div>

        <%= render "form_submission", f: f %>
      </fieldset>
    </div>
  </div>
<% end %>
