<%= form_for(Settings::General.new, url: admin_settings_general_settings_path) do |f| %>
  <div class="card mt-3">
    <%= render partial: "admin/shared/card_header",
               locals: {
                 header: "Sponsors",
                 state: "collapse",
                 target: "sponsorsContainer",
                 expanded: false
               } %>
    <div id="sponsorsContainer" class="card-body collapse hide" aria-labelledby="sponsorsContainer">
      <fieldset class="grid gap-4">
        <div class="crayons-field">
          <%= admin_config_label :sponsor_headline %>
          <%= admin_config_description Constants::Settings::General.details[:sponsor_headline][:description] %>
          <%= f.text_field :sponsor_headline,
                           class: "crayons-textfield",
                           value: Settings::General.sponsor_headline,
                           placeholder: Constants::Settings::General.details[:sponsor_headline][:placeholder] %>
        </div>

        <%= render "form_submission", f: f %>
      </fieldset>
    </div>
  </div>
<% end %>
