<%= form_for(Settings::General.new, url: admin_settings_general_settings_path) do |f| %>
  <div class="card mt-3">
    <%= render partial: "admin/shared/card_header",
               locals: {
                 header: "Tags",
                 state: "collapse",
                 target: "tagsBodyContainer",
                 expanded: false
               } %>
    <div id="tagsBodyContainer" class="card-body collapse hide" aria-labelledby="tagsBodyContainer">
      <fieldset class="grid gap-4">
        <div class="crayons-field">
          <%= admin_config_label :sidebar_tags %>
          <%= admin_config_description Constants::Settings::General.details[:sidebar_tags][:description] %>
          <%= f.text_field :sidebar_tags,
                           class: "crayons-textfield",
                           value: Settings::General.sidebar_tags.join(","),
                           placeholder: Constants::Settings::General.details[:sidebar_tags][:placeholder],
                           pattern: "[a-z0-9,]+" %>
        </div>

        <%= render "form_submission", f: f %>
      </fieldset>
    </div>
  </div>
<% end %>
