<% _t = t.v.badges %>
<% title _t.meta.title %>

<div class="blank-space"></div>
<div class="container article">
  <h1 style="text-align: center;"><%= _t.heading %></h1>
  <p style="text-align: center; max-width: 96%;"><%= _t.desc %></p>
  <div class="body sticker-book">
    <% @badges.each do |badge| %>
    <a href="/badge/<%= badge.slug %>">
      <img
        class="badge-image <%= "unearned" unless badge.id.in?(@earned_badge_achievements) %>"
        src="<%= optimized_image_url(badge.badge_image_url, width: 375) %>"
        alt="<%= badge.title %> badge"
        title="<%= badge.title %>"
        loading="lazy" />
    </a>
    <% end %>
  </div>
</div>
