<% _t = t.v.badges %>
<% title _t.meta.name title: @badge.title %>

<div class="blank-space"></div>
<div class="container article">
  <h1 style="text-align: center;font-size: min(2.7em, 7vw);max-width: 96%;margin: 30px auto;padding: 20px;"><%= _t.name title: @badge.title %></h1>
  <div class="body" style="text-align: center">
    <p>
      <img src="<%= optimized_image_url(@badge.badge_image_url, width: 375) %>" style="height: 250px" alt="<%= @badge.title %> badge">
    </p>
    <h4 style="max-width:550px;margin: 50px auto">
      <%= @badge.description %>
    </h4>
  </div>
</div>
