<% _t = t.v.reading_list.meta %>
<% title _t.title %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="<%= app_url("/readinglist") %>" />
  <meta name="description" content="<%= _t.description %>">
  <%= meta_keywords_default %>

  <meta property="og:type" content="article" />
  <meta property="og:url" content="<%= app_url("/readinglist") %>" />
  <meta property="og:title" content="<%= _t.og.title community: community_name %>" />
  <meta property="og:description" content="<%= _t.description %>" />
  <meta property="og:site_name" content="<%= community_name %>" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@<%= Settings::General.social_media_handles["twitter"] %>">
  <meta name="twitter:title" content="<%= _t.og.title community: community_name %>">
  <meta name="twitter:description" content="<%= _t.description %>">
<% end %>

<div id="reading-list" data-view="<%= @view %>"></div>

<%= javascript_packs_with_chunks_tag "readingList", defer: true %>
