<% _t = t.v.notifications.new_post %>
<div class="crayons-card notification">
  <% if notification.action == "Reaction" %>
    <%= render "reaction", notification: notification %>
  <% elsif notification.action.include? "Milestone" %>
    <%= render "milestone", notification: notification %>
  <% else %>
    <% json_data = notification.json_data %>
    <%= render "notifications/shared/profile_pic", json_data: json_data %>

    <div class="notification__content">
      <header class="mb-4">
        <h2 class="fs-base fw-normal">
          <%= _t.verb(
                user: link_to(json_data["user"]["name"], json_data["user"]["path"], class: "crayons-link fw-bold"),
                if_org: if json_data["organization"]
                          link_to json_data["organization"]["name"], json_data["organization"]["path"], class: "crayons-link fw-bold"
                        else
                          ""
                        end,
              ) %>
        </h2>
        <p class="lh-tight"><small class="fs-s color-base-60"><%= time_ago_in_words json_data["article"]["published_at"], scope: :'datetime.distance_in_words_ago' %></small></p>
      </header>

      <%= render "notifications/shared/article_preview", json_data: json_data, notification: notification, context: "default" %>
    </div>
  <% end %>
</div>
