<% _t = t.v.users.password %>
<div class="crayons-card crayons-card--content-rows">
  <header>
    <h2 class="crayons-subtitle-1">
      <%= _t.heading %>
    </h2>
    <p class="color-base-70">
      <%= _t.desc path: new_user_password_path, email: current_user.email %>
    </p>
  </header>
  <%= form_with(url: user_update_password_path, data: { testid: "update-password-form" }) do |f| %>
    <div class="crayons-field mb-4">
      <%= f.label :current_password, _t.current, class: "crayons-field__label" %>
      <%= f.password_field :current_password, class: "crayons-textfield", autocomplete: "off", required: true %>
    </div>
    <div class="crayons-field mb-4">
      <%= f.label :password, _t.new, class: "crayons-field__label" %>
      <%= f.password_field :password, class: "crayons-textfield", autocomplete: "off", required: true %>
    </div>
    <div class="crayons-field mb-4">
      <%= f.label :password_confirmation, _t.confirm, class: "crayons-field__label" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "crayons-textfield", required: true %>
    </div>
    <button class="crayons-btn crayon-btn--secondary" type="submit"><%= _t.submit %></button>
  <% end %>
</div>
