<% _t = t.v.users.account %>
<div class="crayons-card crayons-card--content-rows" id="emails">
  <h2><%= _t.emails %></h2>
  <ul class="list-none">
    <li class="mb-2">
      <strong class="color-base-60"><%= _t.primary %></strong>
      <span class="pl-2"><%= @user.email %></span>
    </li>

    <% @user.identities_enabled.each do |identity| %>
      <% provider = authentication_provider(identity.provider) %>
      <li class="mb-2">
        <strong class="color-base-60"><%= _t.provider_email provider: provider.official_name %></strong>
        <span class="pl-2"><%= identity.email %></span>
      </li>
    <% end %>
  </ul>
</div>
