<% _t = t.v.users.comments %>
<% cache("user-profile-comments-#{@user.last_comment_at}-#{@user.id}-#{@comments.size}", expires_in: 2.days) do %>
  <div class="profile-comment-card crayons-card mt-2 m:mt-0 mb-2">
    <% if @comments.present? %>
      <% if params[:view] == "comments" %>
        <div class="crayons-card__header">
          <h3 class="crayons-subtitle-2">
            <% if high_number_of_comments?(@user.comments_count) %>
              <%= _t.last number_of_comments_to_render %>
            <% else %>
              <%= _t.all @user.comments_count %>
            <% end %>
          </h3>
          <div class="crayons-card__actions">
            <a href="<%= @user.path %>" class="crayons-link--branded fs-base">
              <%= _t.view %>
            </a>
          </div>
        </div>
      <% else %>
        <div class="crayons-card__header">
          <h3 class="crayons-subtitle-2">
            <%= _t.recent %>
          </h3>
        </div>
      <% end %>
    <% end %>
    <% @comments.each do |comment| %>
      <% if comment.commentable.present? && comment.commentable.published && !comment.deleted %>
        <% lang = comment.commentable.base_lang %>
        <a href="<%= comment.path %>" class="profile-comment-row ">
          <h4 class="fw-bold fs-base m-0 mb-1 with-content-font" lang="<%= lang %>">
            <%= comment.commentable.title %>
          </h4>
          <div class="flex items-center fs-s">
            <p class="color-base-80 with-content-font" lang="<%= lang %>">
              <%= truncate(strip_tags(comment.processed_html), length: 64).html_safe %>
            <p>
            <small class="ml-2 color-base-60 fs-s comment-date whitespace-nowrap">
              <time datetime="<%= comment.decorate.published_timestamp %>"><%= comment.readable_publish_date %></time>
            </small>
          </div>
        </a>
      <% end %>
    <% end %>
    <% if params[:view] != "comments" && high_number_of_comments?(@user.comments_count) %>
      <div class="pt-3 pl-4 pb-3 pr-4">
        <a href="<%= @user.path %>/comments" class="fs-base">
          <%= _t.view_last number_of_comments_to_render %>
        </a>
      </div>
    <% elsif params[:view] != "comments" && view_all_comments?(@user.comments_count) %>
      <div class="py-3 px-4">
        <a href="<%= @user.path %>/comments" class="fs-base">
          <%= _t.view_all @user.comments_count %>
        </a>
      </div>
    <% end %>
  </div>
<% end %>
