<% _t = t.v.users.extensions.github %>
<% if show_integration %>
  <div class="crayons-card crayons-card--content-rows">
    <header>
      <h2 class="crayons-subtitle-1">
        <%= _t.heading %>
      </h2>
      <p class="color-base-70">
        <%= _t.desc1 %>
      </p>
      <p class="color-base-70">
        <em><%= _t.desc2 %></em>
      </p>
    </header>

    <div id="github-repos-container">
      <div class="github-repos loading-repos">
      </div>
    </div>

    <%= javascript_packs_with_chunks_tag "githubRepos", defer: true %>
  </div>
<% end %>
