<% _t = t.v.users %>
<% if @pinned_stories.present? %>
  <div class="crayons-card mb-2 border-2 border-solid border-accent-brand">
    <header>
      <h3 class="crayons-subtitle-3 inline-flex items-center bg-accent-brand color-base-inverted pl-3 pr-4 py-2 ml-4 -mt-2 radius-default">
        <%= inline_svg_tag("pin.svg", aria: true, class: "crayons-icon mr-2", title: _t.pin_icon) %>
        <%= _t.pinned %>
      </h3>
    </header>
    <div class="p-4 pb-2 pt-3">
      <%= render partial: "articles/single_story", collection: @pinned_stories, as: :story, locals: { featured: false } %>
    </div>
  </div>
<% end %>
<% if @stories.present? %>
  <%= render "articles/single_story", story: @stories.first, featured: false %>
  <% if @comments.present? %>
    <%= render "users/comments_section" %>
  <% end %>
  <%= render partial: "articles/single_story", collection: @stories[1, @stories.size], as: :story, locals: { featured: false } %>
  <div class="placeholder-div"></div>
<% elsif @comments.present? %>
  <%= render "users/comments_section" %>
<% end %>
