<% _t = t.v.users.meta %>
<link rel="canonical" href="<%= user_url(@user) %>" />
<meta name="description" content="<%= @user.profile.summary %>">
<%= meta_keywords_default %>

<meta property="og:type" content="website" />
<meta property="og:url" content="<%= user_url(@user) %>" />
<meta property="og:title" content="<%= _t.og.title user: @user.name, community: community_name %>" />
<meta property="og:image" content="<%= user_social_image_url(@user) %>">
<meta property="og:description" content="<%= @user.profile.summary %>" />
<meta property="og:site_name" content="<%= community_name %>" />

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@<%= Settings::General.social_media_handles["twitter"] %>">
<meta name="twitter:creator" content="@<%= @user.twitter_username %>">
<meta name="twitter:title" content="<%= _t.og.title user: @user.name, community: community_name %>">
<meta name="twitter:description" content="<%= @user.profile.summary %>">
<meta name="twitter:image:src" content="<%= user_social_image_url(@user) %>">
<% if @stories.any? %>
  <%= auto_discovery_link_tag(:rss, app_url("/feed/#{@user.username}"), title: t.v.stories.meta.rss(name: community_name)) %>
<% end %>

<% if @user.suspended? %>
  <meta name="robots" content="noindex">
  <meta name="robots" content="nofollow">
<% end %>
