<% _t = t.v.users.notifications %>
<%= form_for @users_notification_setting, url: users_notification_settings_path do |f| %>
  <div class="crayons-card crayons-card--content-rows">
    <header>
      <h2 class="crayons-subtitle-1">
        <% _t.email %>
      </h2>
    </header>
    <div class="crayons-field crayons-field--checkbox">
      <%= f.check_box :email_newsletter, class: "crayons-checkbox" %>
      <%= f.label :email_newsletter, class: "crayons-field__label" %>
    </div>
    <div class="crayons-field crayons-field--checkbox">
      <%= f.check_box :email_digest_periodic, class: "crayons-checkbox" %>
      <%= f.label :email_digest_periodic, class: "crayons-field__label" %>
    </div>
    <% if current_user.a_sustaining_member? %>
      <div class="crayons-field crayons-field--checkbox">
        <%= f.check_box :email_membership_newsletter, class: "crayons-checkbox" %>
        <%= f.label :email_membership_newsletter, class: "crayons-field__label" %>
      </div>
    <% end %>
    <% if current_user.tag_moderator? %>
      <div class="crayons-field crayons-field--checkbox">
        <%= f.check_box :email_tag_mod_newsletter, class: "crayons-checkbox" %>
        <%= f.label :email_tag_mod_newsletter, class: "crayons-field__label" %>
      </div>
    <% end %>
    <% if current_user.has_role?(:trusted) %>
      <div class="crayons-field crayons-field--checkbox">
        <%= f.check_box :email_community_mod_newsletter, class: "crayons-checkbox" %>
        <%= f.label :email_community_mod_newsletter, class: "crayons-field__label" %>
      </div>
    <% end %>
    <div class="crayons-field crayons-field--checkbox">
      <%= f.check_box :email_comment_notifications, class: "crayons-checkbox" %>
      <%= f.label :email_comment_notifications, class: "crayons-field__label" %>
    </div>
    <div class="crayons-field crayons-field--checkbox">
      <%= f.check_box :email_follower_notifications, class: "crayons-checkbox" %>
      <%= f.label :email_follower_notifications, class: "crayons-field__label" %>
    </div>
    <div class="crayons-field crayons-field--checkbox">
      <%= f.check_box :email_mention_notifications, class: "crayons-checkbox" %>
      <%= f.label :email_mention_notifications, class: "crayons-field__label" %>
    </div>
    <div class="crayons-field crayons-field--checkbox">
      <%= f.check_box :email_badge_notifications, class: "crayons-checkbox" %>
      <%= f.label :email_badge_notifications, class: "crayons-field__label" %>
    </div>
    <div class="crayons-field crayons-field--checkbox">
      <%= f.check_box :email_connect_messages, class: "crayons-checkbox" %>
      <%= f.label :email_connect_messages, class: "crayons-field__label" %>
    </div>
    <div class="crayons-field crayons-field--checkbox">
      <%= f.check_box :email_unread_notifications, class: "crayons-checkbox" %>
      <%= f.label :email_unread_notifications, t.helpers.label.user.email_unread_notifications(community: community_name), class: "crayons-field__label" %>
    </div>
  </div>

  <div class="crayons-card crayons-card--content-rows">
    <header>
      <h2 class="crayons-subtitle-1 flex items-center">
        <%= _t.mobile %>
        <span class="ml-2 crayons-indicator crayons-indicator--accent"><%= t.v.beta %></span>
      </h2>
      <p class="color-base-70">
        <%= _t.mobile_notice %>
      </p>
    </header>
    <div class="crayons-field crayons-field--checkbox">
      <%= f.check_box :mobile_comment_notifications, class: "crayons-checkbox" %>
      <%= f.label :mobile_comment_notifications, class: "crayons-field__label" %>
    </div>
  </div>

  <div class="crayons-card crayons-card--content-rows">
    <header>
      <h2 class="crayons-subtitle-1">
        <%= _t.general %>
      </h2>
      <p class="color-base-70">
        <%= _t.general_desc page: link_to(_t.page, notifications_path) %>
      </p>
    </header>
    <div class="crayons-field crayons-field--checkbox">
      <%= f.check_box :welcome_notifications, class: "crayons-checkbox" %>
      <%= f.label :welcome_notifications, t.helpers.label.user.welcome_notifications(community: community_name), class: "crayons-field__label" %>
    </div>
    <div class="crayons-field crayons-field--checkbox">
      <%= f.check_box :reaction_notifications, class: "crayons-checkbox" %>
      <%= f.label :reaction_notifications, class: "crayons-field__label" %>
    </div>
  </div>

  <% if current_user.trusted %>
    <div class="crayons-card crayons-card--content-rows">
      <h2 class="crayons-subtitle-1">
        <%= _t.moderator %>
      </h2>
      <div class="crayons-field crayons-field--checkbox">
        <%= f.check_box :mod_roundrobin_notifications, class: "crayons-checkbox" %>
        <%= f.label :mod_roundrobin_notifications, class: "crayons-field__label" %>
      </div>
    </div>
  <% end %>

  <div class="crayons-card crayons-card--content-rows">
    <button type="submit" class="crayons-btn"><%= _t.save %></button>
  </div>

<% end %>
