<% _t = t.v.users.org %>
<%= javascript_packs_with_chunks_tag "colorPreview", "validateFileInputs", defer: true %>

<div class="crayons-card crayons-card--content-rows">
  <h2><%= _t.join.heading %></h2>
  <%= form_tag "/users/join_org" do %>
    <div class="crayons-field mb-6">
      <%= label_tag :org_secret, _t.join.label, class: "crayons-field__label" %>
      <p class="crayons-field__description"><%= _t.join.desc %></p>
      <%= text_field_tag :org_secret, nil, placeholder: _t.join.placeholder, class: "crayons-textfield", autocomplete: "off" %>
    </div>

    <button class="crayons-btn" type="submit"><%= _t.join.submit %></button>
  <% end %>
</div>

<p class="align-center fs-small color-base-60 mb-6 fw-bold">OR</p>

<div class="crayons-card crayons-card--content-rows">
  <header>
    <h2 class="mb-2"></h2>
    <p></p>
  </header>
<%# TODO [yheuhtozr]: appropriately style required fields %>
  <%= form_for @organization, html: { class: "grid gap-6" } do |f| %>
    <div class="crayons-field">
      <%= f.label :name, class: "crayons-field__label crayons-field__required" %>
      <%= f.text_field :name, class: "crayons-textfield" %>
    </div>
    <div class="crayons-field">
      <%= f.label :slug, class: "crayons-field__label crayons-field__required" %>
      <%= f.text_field :slug, class: "crayons-textfield" %>
      <p class="crayons-field__description"><%= _t.create.slug url: app_url %></p>
    </div>

    <div class="crayons-field">
      <%= f.label :profile_image, class: "crayons-field__label crayons-field__required" %>
      <%= f.file_field :profile_image, accept: "image/*", class: "crayons-card crayons-card--secondary p-3 flex items-center flex-1 w-100" %>
    </div>

    <div class="crayons-field">
      <%= f.label :twitter_username, class: "crayons-field__label" %>
      <%= f.text_field :twitter_username, class: "crayons-textfield" %>
    </div>

    <div class="crayons-field">
      <%= f.label :github_username, class: "crayons-field__label" %>
      <%= f.text_field :github_username, class: "crayons-textfield" %>
    </div>

    <%= render partial: "shared/logo_design", locals: { f: f, account: @user } %>

    <div class="crayons-field">
      <%= f.label :url, class: "crayons-field__label crayons-field__required" %>
      <%= f.url_field :url, class: "crayons-textfield" %>
    </div>

    <div class="crayons-field">
      <%= f.label :summary, class: "crayons-field__label crayons-field__required" %>
      <%= f.text_area :summary, class: "crayons-textfield", rows: 3 %>
    </div>

    <div class="crayons-field">
      <%= f.label :proof, class: "crayons-field__label crayons-field__required" %>
      <p class="crayons-field__description"><%= _t.create.proof %></p>
      <%= f.text_area :proof, class: "crayons-textfield" %>
      <p class="crayons-field__description"><%= _t.create.notice %></p>
    </div>

    <button class="crayons-btn w-max" type="submit"><%= _t.create.submit %></button>
  <% end %>
</div>
