<% _t = t.v.users.org.admin %>
<%= javascript_packs_with_chunks_tag "colorPreview", "clipboardCopy", defer: true %>
<%= render "shared/webcomponents_loader_script" %>

<div class="crayons-card crayons-card--content-rows">
  <h2><%= _t.members %></h2>

  <div class="grid gap-2">
    <% @org_organization_memberships.each do |org_membership| %>
      <div class="crayons-card crayons-card--secondary p-4 flex items-center">
        <p class="fw-medium flex-1">
          <a href="<%= org_membership.user.path %>"><%= org_membership.user.name %></a>
          <% if org_membership.user == @user %>
            <span class="crayons-indicator"><%= _t.you %></span>
          <% end %>

          <% if org_membership.type_of_user == "admin" %>
            <span class="crayons-indicator crayons-indicator--critical"><%= _t.admin %></span>
          <% end %>
        </p>

        <div class="flex">
          <% if org_membership.user == @user && org_membership.type_of_user == "admin" %>
          <!-- TODO: ? -->
          <% elsif org_membership.user != @user && org_membership.type_of_user == "admin" %>
            <%= form_tag "/users/remove_org_admin", onsubmit: "return confirm('#{_t.revoke.confirm user: org_membership.user.name}');" do %>
              <%= hidden_field_tag "user_id", org_membership.user_id %>
              <%= hidden_field_tag "organization_id", @organization.id %>
              <button class="crayons-btn crayons-btn--secondary ml-2" title="<%= _t.revoke.title %>" type="submit"><%= _t.revoke.text %></button>
            <% end %>
          <% else %>
            <%= form_tag "/users/add_org_admin", onsubmit: "return confirm('#{_t.make.confirm user: org_membership.user.name}');" do %>
              <%= hidden_field_tag "user_id", org_membership.user_id %>
              <%= hidden_field_tag "organization_id", @organization.id %>
              <button class="crayons-btn crayons-btn--secondary ml-2" title="<%= _t.make.title %>" type="submit"><%= _t.make.text %></button>
            <% end %>
            <%= form_tag "/users/remove_from_org", onsubmit: "return confirm('Are you sure you want remove #{_t.remove.confirm user: org_membership.user.name} from the organization?');" do %>
              <%= hidden_field_tag "user_id", org_membership.user_id %>
              <%= hidden_field_tag "organization_id", @organization.id %>
              <button class="crayons-btn crayons-btn--secondary ml-2" title="<%= _t.remove.title %>" type="submit"><%= _t.remove.text %></button>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <header>
    <h2 class="mb-2"><%= _t.grow %></h2>
    <p><%= _t.invite %></p>
  </header>

  <div class="crayons-card crayons-card--secondary p-4">
    <ol class="list-decimal pl-6 mb-2">
      <li><%= _t.inst1 url: link_to(app_url, app_url) %></li>
      <li><%= _t.inst2 url: link_to(app_url(user_settings_path(:organization)), app_url(user_settings_path(:organization))) %></li>
      <li></li>
    </ol>
    <p>
      <%= _t.secret_code %>
      <clipboard-copy for="settings-org-secret" onclick="nextElementSibling.hidden = false">
        <input type="text" class="ff-monospace ff-s fw-medium" id="settings-org-secret" value="<%= @organization.secret %>" readonly aria-label="<%= _t.copy.aria_label %>">
        <%= inline_svg_tag("copy.svg", aria: true, class: "crayons-icon", title: _t.copy.icon) %>
      </clipboard-copy>
      <span class="copy-text-announcer" id="copy-text-announcer" role="alert" hidden><%= _t.copy.text %></span>
  </div>

  <div class="flex items-center">
    <%= form_tag "/organizations/generate_new_secret", onsubmit: "return confirm('#{_t.gen.confirm}');" do %>
      <%= hidden_field_tag "organization[id]", @organization.id %>
      <button type="submit" class="crayons-btn crayons-btn--secondary"><%= _t.gen.submit %></button>
    <% end %>
    <p class="fw-medium color-accent-danger ml-3"><%= _t.gen.text %></p>
  </div>
</div>

<div class="crayons-card crayons-card--content-rows">
  <h2><%= _t.details %></h2>

  <%= form_for @organization, html: { class: "grid gap-6" } do |f| %>
    <%= f.hidden_field :id %>
    <div class="crayons-field">
      <%= f.label :name, class: "crayons-field__label" %>
      <%= f.text_field :name, maxlength: 50, class: "crayons-textfield" %>
    </div>
    <div class="crayons-field">
      <%= f.label :slug, class: "crayons-field__label" %>
      <%= f.text_field :slug, maxlength: 18, minlength: 2, class: "crayons-textfield" %>
      <p class="crayons-field__description"><%= _t.form.slug slug: app_url(@organization.slug) %></p>
    </div>

    <div class="crayons-field">
      <%= f.label :profile_image, class: "crayons-field__label" %>
      <div class="flex items-center">
          <span class="crayons-logo crayons-logo--xl mr-2">
            <% if @organization.profile_image_url.present? %>
              <img alt="<%= @organization.name %> profile image" src="<%= optimized_image_url(@organization.profile_image_url, width: 50) %>" class="crayons-logo__image" />
            <% end %>
          </span>
          <%= f.file_field :profile_image, accept: "image/*", class: "crayons-card crayons-card--secondary p-3 flex items-center flex-1 w-100" %>
      </div>
    </div>

    <div class="crayons-field">
      <%= f.label :nav_image, class: "crayons-field__label" %>
      <div class="flex items-center">
        <% if @organization.nav_image_url.present? %>
          <img alt="<%= @organization.name %> profile image" class="max-w-50 h-auto" src="<%= optimized_image_url(@organization.nav_image_url, width: 50) %>" />
        <% end %>
        <%= f.file_field :nav_image, accept: "image/*", class: "crayons-card crayons-card--secondary p-3 flex items-center flex-1 w-100" %>
      </div>
    </div>

    <div class="crayons-field">
      <%= f.label :dark_nav_image, class: "crayons-field__label" %>
      <div class="flex items-center">
        <% if @organization.dark_nav_image_url.present? %>
          <img alt="<%= @organization.name %> profile image" class="max-w-50 h-auto" src="<%= optimized_image_url(@organization.dark_nav_image_url, width: 50) %>" />
        <% end %>
        <%= f.file_field :dark_nav_image, accept: "image/*", class: "crayons-card crayons-card--secondary p-3 flex items-center flex-1 w-100" %>
      </div>
    </div>

    <div class="crayons-field">
      <%= f.label :twitter_username, class: "crayons-field__label" %>
      <%= f.text_field :twitter_username, class: "crayons-textfield" %>
    </div>
    <div class="crayons-field">
      <%= f.label :github_username, class: "crayons-field__label" %>
      <%= f.text_field :github_username, class: "crayons-textfield" %>
    </div>
    <div class="crayons-field">
      <%= f.label :url, class: "crayons-field__label" %>
      <%= f.url_field :url, maxlength: 128, class: "crayons-textfield" %>
    </div>
    <div class="crayons-field">
      <%= f.label :tag_line, class: "crayons-field__label" %>
      <%= f.text_field :tag_line, maxlength: 60, class: "crayons-textfield" %>
      <p class="crayons-field__description"><%= _t.form.tag_line %></p>
    </div>
    <div class="crayons-field">
      <%= f.label :summary, class: "crayons-field__label" %>
      <%= f.text_area :summary, maxlength: 250, class: "crayons-textfield" %>
      <p class="crayons-field__description"><%= _t.form.summary %></p>
    </div>

    <%= render partial: "shared/logo_design", locals: { f: f, account: @organization_membership.organization } %>

    <div class="crayons-field">
      <%= f.label :location, class: "crayons-field__label" %>
      <%= f.text_field :location, maxlength: 64, class: "crayons-textfield" %>
      <p class="crayons-field__description"><%= _t.form.location %></p>
    </div>
    <div class="crayons-field">
      <%= f.label :email, class: "crayons-field__label" %>
      <%= f.text_field :email, maxlength: 64, class: "crayons-textfield" %>
      <p class="crayons-field__description"><%= _t.form.email %></p>
    </div>
    <div class="crayons-field">
      <%= f.label :company_size, class: "crayons-field__label" %>
      <%= f.text_field :company_size, maxlength: 7, class: "crayons-textfield" %>
      <p class="crayons-field__description"><%= _t.form.company_size %></p>
    </div>
    <div class="crayons-field">
      <%= f.label :story, class: "crayons-field__label" %>
      <%= f.text_area :story, maxlength: 640, class: "crayons-textfield" %>
      <p class="crayons-field__description"><%= _t.form.story %></p>
    </div>
    <div class="crayons-field">
      <%= f.label :tech_stack, class: "crayons-field__label" %>
      <%= f.text_area :tech_stack, maxlength: 640, class: "crayons-textfield" %>
      <p class="crayons-field__description"><%= _t.form.tech_stack %></p>
    </div>
    <header>
      <h2 class="mb-2"><%= _t.cta %></h2>
      <p><%= _t.cta_desc %></p>
    </header>
    <div class="crayons-field">
      <%= f.label :cta_body_markdown, class: "crayons-field__label" %>
      <%= f.text_area :cta_body_markdown, maxlength: 256, class: "crayons-textfield" %>
      <p class="crayons-field__description"><%= _t.form.cta_body_markdown %></p>
    </div>
    <div class="crayons-field">
      <%= f.label :cta_button_text, class: "crayons-field__label" %>
      <%= f.text_field :cta_button_text, maxlength: 20, class: "crayons-textfield" %>
      <p class="crayons-field__description"><%= _t.form.cta_button_text %></p>
    </div>
    <div class="crayons-field">
      <%= f.label :cta_button_url, class: "crayons-field__label" %>
      <%= f.text_field :cta_button_url, maxlength: 150, class: "crayons-textfield" %>
    </div>

    <button class="crayons-btn w-max" type="submit"><%= _t.form.submit %></button>
  <% end %>
</div>

<div class="crayons-card crayons-card--content-rows">
  <header>
    <h2 class="color-accent-danger"><%= t.v.users.danger %></h2>
  </header>
  <div class="crayons-field">
    <div class="grid gap-2">
      <header>
        <h2><%= _t.delete.heading %></h2>
      </header>
      <p>
        <%= _t.delete.desc %>
      </p>
      <% if @org_organization_memberships.size === 1 && @organization.articles_count.zero? %>
        <% onsubmit = "return confirm('#{_t.delete.confirm name: @organization.name}');" %>
        <%= form_tag organization_path(@organization.id), method: :delete, onsubmit: onsubmit do %>
          <button class="crayons-btn crayons-btn--danger crayons-btn--icon-left" type="submit">
            <%= _t.delete.submit name: @organization.name %>
          </button>
        <% end %>
      <% else %>
        <div class="crayons-card crayons-card--secondary">
          <div class="crayons-card__body">
            <%= _t.delete.unmet %>
          </div>
        </div>
      <% end %>
      <p>
        <%= _t.delete.questions email: link_to(ForemInstance.email, ForemInstance.email) %>
      </p>
    </div>
  </div>
</div>
