<% _t = t.v.users.extensions.rss %>
<div class="crayons-card crayons-card--content-rows">
  <div class="grid gap-4">
    <h2 class="crayons-subtitle-1">
      <%= _t.heading community: community_name %>
    </h2>
    <% if @users_setting.feed_url.present? %>
      <%= form_for @users_setting, url: users_settings_path do |f| %>
        <%= f.hidden_field :feed_url, value: @users_setting.feed_url %>
        <%= f.hidden_field :tab, value: @tab %>
        <div class="flex items-center">
          <button type="submit" class="crayons-btn crayons-btn--secondary"><%= _t.fetch %></button>
          <p class="pl-2"><%= _t.last time: tag.time(id: "rss-fetch-time", datetime: @users_setting.user.feed_fetched_at.iso8601) %></p>
        </div>
      <% end %>
    <% end %>
    <p>
      <%= _t.desc1 dashboard: link_to(_t.dashboard, "/dashboard") %>
    </p>
    <p><%= _t.desc2 %></p>
    <p>
      <%= _t.desc3 guide: link_to(_t.guide, publishing_from_rss_guide_path) %>
    </p>
    <p>
      <%= _t.desc4 email: email_link %>
    </p>
    <p><%= _t.desc5 %></p>
    <p><em><%= _t.desc6 %></em></p>
  </div>

  <%= form_for @users_setting, url: users_settings_path, html: { class: "grid gap-6" } do |f| %>
    <div class="crayons-field">
      <%= f.label :feed_url, class: "crayons-field__label" %>
      <%= f.url_field :feed_url, class: "crayons-textfield" %>
    </div>

    <div class="crayons-field crayons-field--checkbox">
      <%= f.check_box :feed_mark_canonical, class: "crayons-checkbox" %>
      <%= f.label :feed_mark_canonical, _t.mark_canonical, class: "crayons-field__label" %>
    </div>

    <div class="crayons-field crayons-field--checkbox">
      <%= f.check_box :feed_referential_link, class: "crayons-checkbox" %>
      <%= f.label :feed_referential_link, _t.referential(community: community_name), class: "crayons-field__label" %>
    </div>

    <%= f.hidden_field :tab, value: @tab, id: nil %>
    <% button_text = @users_setting.feed_url.present? ? _t.save : _t.submit %>
    <button class="crayons-btn w-max" type="submit"><%= button_text %></button>
  <% end %>
</div>
