<div class="ltag_github-liquid-tag">
  <h1>
    <a href="<%= html_url %>">
      <img class="github-logo" alt="GitHub logo" src="<%= ActionController::Base.helpers.asset_path("github-logo.svg") %>">
      <span class="issue-title">
        <%= title %>
      </span>
      <span class="issue-number">#<%= issue_number %></span>
    </a>
  </h1>
  <div class="github-thread">
    <div class="timeline-comment-header">
      <a href="<%= user_html_url %>">
        <img class="github-liquid-tag-img" src="<%= user_avatar_url %>" alt="<%= username %> avatar">
      </a>
      <div class="timeline-comment-header-text">
        <strong>
          <a href="<%= user_html_url %>"><%= username %></a>
        </strong> <%= tagline %> <a href="<%= html_url %>"><time datetime="<%= created_at %>"><%= date %></time></a>
      </div>
    </div>
    <div class="ltag-github-body">
      <%= body %>
    </div>
    <div class="gh-btn-container"><a class="gh-btn" href="<%= html_url %>"><%= t.v.liquids.github.view %></a></div>
  </div>
</div>
