<div class="ltag-github-readme-tag">
  <div class="readme-overview">
    <h2>
      <img src="<%= ActionController::Base.helpers.asset_path("github-logo.svg") %>" alt="GitHub logo">
      <a href="https://github.com/<%= content.owner.login %>">
        <%= content.owner.login %>
      </a> / <a style="font-weight: 600;" href="<%= content.html_url %>">
        <%= content.name %>
      </a>
    </h2>
    <h3>
      <%= content.description %>
    </h3>
  </div>
  <% if show_readme %>
  <div class="ltag-github-body">
    <p><%= (HTML_Truncator.truncate readme_html, 150).html_safe %></p>
  </div>
  <div class="gh-btn-container"><a class="gh-btn" href="<%= content.html_url %>"><%= t.v.liquids.github.view %></a></div>
  <% end %>
</div>
