<div class='ltag__link'>
  <a href='<%= response[:url] %>' class='ltag__link__link'>
    <div class='ltag__link__pic'>
      <img src='<%= response[:author_image] %>' alt='<%= response[:author] %>' />
    </div>
  </a>
  <a href='<%= response[:url] %>' class='ltag__link__link'>
    <div class='ltag__link__content'>
      <h2><%= response[:title] %></h2>
      <h3><%= response[:author] %> ・ <time datetime='<%= response[:published_time] %>'><%= response[:publication_date] %></time> ・ <%= response[:reading_time] %></h4>
      <div class="ltag__link__servicename">
        <img src="<%= asset_path("medium_icon.svg") %>" alt="Medium Logo" aria-label="<%= t.v.liquids.medium.logo %>" />
        <%= ApplicationController.helpers.get_host_without_www response[:url] %>
      </div>
    </div>
  </a>
</div>
