<% _t = t.v.liquids.stackexchange %>
<div class="ltag__stackexchange--container">
  <div class="ltag__stackexchange--title-container">
    <header>
      <div class="ltag__stackexchange--title">
      <% logo_to_use = site == "stackoverflow" ? "stackoverflow-logo.svg" : "stackexchange-logo.svg" %>
        <h1>
          <img src="<%= ActionController::Base.helpers.asset_path(logo_to_use) %>" alt="">
            <a href="<%= post_url %>" target="_blank" rel="noopener noreferrer">
              <%= post_type == "question" ? "" : _t.answer.text(answer: tag.span(_t.answer.answer, class: "title-flare"), title: CGI.unescapeHTML(title)) %>
            </a>
        </h1>
        <div class="ltag__stackexchange--post-metadata">
          <span><%= Time.zone.at(created_at).strftime(t.date.stackexchange) %></span>
          <% if post_type == "question" %>
            <span><%= _t.comments count: comment_count %></span>
            <span><%= _t.answers count: answer_count %></span>
          <% end %>
        </div>
      </div>
      <a class="ltag__stackexchange--score-container" href="<%= post_url %>" target="_blank" rel="noopener noreferrer">
        <img src="<%= ActionController::Base.helpers.asset_path("stackexchange-arrow-up.svg") %>" alt="">
        <div class="ltag__stackexchange--score-number">
          <%= score %>
        </div>
        <img src="<%= ActionController::Base.helpers.asset_path("stackexchange-arrow-down.svg") %>" alt="">
      </a>
    </header>
  </div>
  <div class="ltag__stackexchange--body">
    <p>
      <%= (HTML_Truncator.truncate body, 50).html_safe %>
    </p>
  </div>
  <div class="ltag__stackexchange--btn--container">
    <button class="ltag__stackexchange--btn" type="button">
      <a href="<%= post_url %>" target="_blank" rel="noopener noreferrer"><%= _t.open[post_type] %></a>
    </button>
  </div>
</div>
