@import '../mixins';
@import '../config/import';

:root {
  --content-font-size: var(--fs-l);
  --content-secondary-font-size: var(--fs-base);
  --content-tertiary-font-size: var(--fs-base);
  --content-rhythm: var(--content-font-size);

  @media (min-width: $breakpoint-s) {
    --content-secondary-font-size: var(--fs-l);
  }

  @media (min-width: $breakpoint-l) {
    --content-font-size: var(--fs-xl);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');

@font-face {
  font-family: OpenDyslexic;
  @include font-src('OpenDyslexic-Regular.otf');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: OpenDyslexic;
  @include font-src('OpenDyslexic-Italic.otf');
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: OpenDyslexic;
  @include font-src('OpenDyslexic-Bold.otf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: OpenDyslexic;
  @include font-src('OpenDyslexic-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: Vekos;
  @include font-src('vekos-regular.woff2');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Vekos;
  @include font-src('vekos-bold.woff2');
  font-style: normal;
  font-weight: bold;
}

// Content fonts
body {
  &.serif-article-body {
    --content-font-family: var(--ff-serif);
  }

  &.sans-serif-article-body {
    --content-font-family: var(--ff-sans-serif);
  }

  &.comic-sans-article-body {
    --content-font-family: var(--ff-comic);
  }

  &.monospace-article-body {
    --content-font-family: var(--ff-monospace);
  }

  &.open-dyslexic-article-body {
    --content-font-family: var(--ff-dyslexic);
  }
}

.text-styles {
  font-size: var(--content-font-size);
  font-family: var(--content-font-family);
  overflow-wrap: break-word;

  &--secondary {
    font-size: var(--content-secondary-font-size);
  }

  &--tertiary {
    font-size: var(--content-tertiary-font-size);
  }

  > :last-child {
    margin-bottom: 0;
  }

  a {
    text-decoration: underline;
    color: var(--accent-brand);

    &:hover {
      color: var(--accent-brand-darker);
    }
  }

  // TODO: Hack to target all links in .text-styles except ones used in liquid tags...
  // Liquid tags styling is still pretty random and overwriting what's been
  // implemented there makes some things look worse. We should circle back
  // when/if we "redesign" liquid tags.
  [class*='ltag'] a {
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--ff-sans-serif);
    margin: calc(var(--content-rhythm) / 2) 0;
    padding: 0;
    font-weight: var(--fw-bold);
    line-height: var(--lh-tight);
  }

  h1 {
    font-size: 1.75em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.875em;
  }

  h6 {
    font-size: 0.85em;
    color: var(--base-60);
  }

  hr {
    width: 25%;
    opacity: 0.1;
    border-radius: var(--radius);
    border: 1px solid var(--body-color);
    margin: calc(var(--content-rhythm) * 2) auto;
  }

  p {
    margin: 0 0 var(--content-rhythm) 0;
  }

  ul,
  ol {
    padding-left: var(--su-6);
    margin: 0 0 var(--content-rhythm) 0;

    br {
      line-height: 0;
      margin: 0;
      padding: 0;
    }
  }

  ul {
    list-style-type: disc;

    p {
      margin: 0;
      padding: 0;
    }

    ul {
      margin: 0 0 0 var(--content-rhythm);
      list-style-type: square;

      ul {
        list-style-type: circle;
      }
    }
  }

  figure {
    margin: 0;
  }

  figcaption {
    font-style: italic;
    text-align: center;
    font-size: 0.8em;
    color: var(--body-color);
    opacity: 0.75;
    display: block;
  }

  p + figcaption {
    margin-top: -0.8em;
  }

  blockquote {
    border-left: 4px solid var(--base-20);
    padding: 0 0 0 var(--content-rhythm);
    margin: 0 0 var(--content-rhythm) 0;

    &.twitter-tweet {
      font-family: var(--ff-sans-serif);
      background: var(--body-color-inverted);
      max-width: 456px;
      border: 1px solid #e9eef2;
      font-size: 0.75em;
      line-height: 1.35em;
      border-radius: 5px;
      margin: 1.6em auto;
      padding: 60px 10px 18px;
      color: white;
      min-height: 60px;
      padding: 33px 15px 8px;

      a {
        color: white;
      }

      @media screen and (min-width: $breakpoint-s) {
        padding: 60px 22px 18px;
        min-height: 105px;
      }
    }
  }

  kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 1px #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
  }

  pre:not(.highlight),
  div.highlight {
    margin: 0 0 var(--content-rhythm) 0;
  }

  img,
  video {
    height: auto;
    display: block;
    margin: var(--content-rhythm) auto;
    max-width: 100%;
    max-height: calc(50vh + 180px);
    border-radius: var(--radius);
  }

  .article-body-image-wrapper {
    cursor: zoom-in;
  }

  iframe {
    width: 100%;
    border: 0;
    margin: 0 0 var(--content-rhythm) 0;
  }

  .fluidvids {
    margin: 0 0 var(--content-rhythm) 0;

    iframe {
      margin: 0;
    }
  }

  .table-wrapper-paragraph {
    width: 100%;
    overflow-x: auto;
    margin: 0 0 var(--content-rhythm) 0;

    table {
      margin: 0;
    }
  }

  table {
    margin: 0 0 var(--content-rhythm) 0;
    border-collapse: collapse;
    border-spacing: 0;

    th,
    td {
      padding: var(--su-2);
      border: 1px solid var(--base-20);
    }

    th {
      background: var(--body-bg);
      text-align: left;
    }
  }

  .twitter-tweet {
    margin: 0 0 var(--content-rhythm) 0;
  }
}
