<% _t = t.v.auth %>
<a href="<%= sign_up_path(state: "new-user") %>" class="crayons-btn" aria-label="<%= _t.create.aria_label %>" data-no-instant>
  <%= _t.create.text %>
</a>
<a href="<%= sign_up_path %>" class="crayons-btn crayons-btn--ghost-brand" aria-label="<%= _t.login.aria_label %>">
  <%= _t.login.text %>
</a>
