<% _t = t.v.logo %>
<div class="grid gap-6 m:grid-cols-2">
  <div class="grid gap-6">
    <% if account.class.name == "User" %>
      <% account.setting.brand_color1 = user_colors(account)[:bg] if account.setting && account.setting.brand_color1.blank? %>
      <% account.setting.brand_color2 = user_colors(account)[:text] if account.setting && account.setting.brand_color2.blank? %>
    <% else %>
      <% account.bg_color_hex = user_colors(account)[:bg] if account.bg_color_hex.blank? %>
      <% account.text_color_hex = user_colors(account)[:text] if account.text_color_hex.blank? %>
    <% end %>
    <div class="crayons-field">
      <%= f.label :bg_color_hex, _t.color_1.label, class: "crayons-field__label" %>
      <p class="crayons-field__description"><%= _t.color_1.desc %></p>
      <div class="flex items-center">
        <%= f.text_field :bg_color_hex, placeholder: "#000000", class: "crayons-textfield mr-2", id: "bg-color-textfield" %>
        <label class="hidden" for="bg-color-colorfield">
          <%= _t.color_1.select.label %>
        </label>
        <input id="bg-color-colorfield" type="color" class="crayons-color-selector" aria-label="<%= _t.color_1.select.aria_label %>">
      </div>
    </div>

    <div class="crayons-field">
      <% if account.class.name == "User" %>
        <% account.setting.brand_color1 = user_colors(account)[:text] if account.setting && account.setting.brand_color2.blank? %>
      <% else %>
        <% account.bg_color_hex = user_colors(account)[:text] if account.text_color_hex.blank? %>
      <% end %>
      <%= f.label :text_color_hex, _t.color_2.label, class: "crayons-field__label" %>
      <p class="crayons-field__description"><%= _t.color_2.desc %></p>
      <div class="flex items-center">
        <%= f.text_field :text_color_hex, placeholder: "#ffffff", class: "crayons-textfield mr-2", id: "text-color-textfield" %>
        <label class="hidden" for="text-color-colorfield">
          <%= _t.color_2.select.label %>
        </label>
        <input id="text-color-colorfield" type="color" class="crayons-color-selector" aria-label="<%= _t.color_2.select.aria_label %>">
      </div>
    </div>
  </div>

  <div class="crayons-card crayons-card--secondary flex-1 p-6">
    <p class="text-uppercase color-base-50 mb-4 fs-s ff-monospace"><%= _t.preview.text %></p>
    <%= inline_svg_tag("preview-logo.svg", id: "color-select-preview-logo", class: "p-4 radius-default", title: _t.preview.icon) %>
  </div>
</div>
