<% title t.v.onboardings.meta.title(community: community_name) %>

<style>
  <% cache(release_adjusted_cache_key("onboarding-css"), expires_in: 10.hours) do %>
    <%= Rails.application.assets["preact/onboarding-modal.css"].to_s.html_safe %>
  <% end %>

  .crayons-header,
  .crayons-footer {
    display: none;
  }
</style>

<div id="onboarding-container"
  data-community-name="<%= community_name %>"
  data-community-description="<%= Settings::Community.community_description %>"
  data-community-logo="<%= optimized_image_url(Settings::General.logo_png) %>"
  data-community-background="<%= optimized_image_url(Settings::General.onboarding_background_image, width: 1680, quality: 75, random_fallback: false) %>">
  <%= javascript_packs_with_chunks_tag "Onboarding", defer: true %>
</div>

<div id="terms" style="display: none;">
  <%= render "pages/terms_text" %>
</div>

<div id="coc" style="display: none;">
  <%= render "pages/coc_text" %>
</div>
