<% _t = t.v.events.list %>
<%= content_for :page_meta do %>
  <% title _t.meta.title(site: community_name) %>
  <link rel="canonical" href="<%= app_url("/events") %>" />
  <meta name="description" content="<%= _t.meta.description site: community_name %>">
<%= meta_keywords_default %>

  <meta property="og:type" content="article" />
  <meta property="og:url" content="<%= app_url("/events") %>" />
  <meta property="og:title" content="<%= _t.meta.og.title site: community_name %>" />
  <meta property="og:description" content="<%= _t.meta.og.description %>" />
  <meta property="og:site_name" content="<%= community_name %>" />
  <meta property="og:image" content="<%= Settings::General.main_social_image %>">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@<%= Settings::General.social_media_handles["twitter"] %>">
  <meta name="twitter:title" content="<%= _t.meta.og.title site: community_name %>">
  <meta name="twitter:image:src" content="<%= Settings::General.main_social_image %>">
<% end %>

<script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>

<div class="crayons-layout crayons-layout--limited-l">
  <div class="crayons-card text-styles text-padding">
    <h1 class="fs-3xl s:fs-4xl l:fs-5xl fw-bold s:fw-heavy lh-tight mb-4 mt-0">
      <%= _t.heading %>
    </h1>

    <%= render partial: "event", collection: @events, as: :event %>

    <% if @events.none? %>
      <div class="crayons-notice" aria-live="polite">
        <%= _t.empty %>
      </div>
    <% end %>

    <% if @past_events.any? %>
      <h1>
        <%= _t.past %>
      </h1>
      <%= render partial: "event", collection: @past_events, as: :event %>
    <% end %>
  </div>
</div>
