<% _t = t.v.tags.edit %>
<% title _t.meta.title(tag: @tag.name) %>

<style>
  .widget header {
    color: <%= Color::CompareHex.new([@tag.bg_color_hex || "#0000000", @tag.text_color_hex || "#ffffff"]).brightness(0.8) %>
  }

  .slanty-accent {
    background-color: <%= Color::CompareHex.new([@tag.bg_color_hex || "#ffffff"]).accent %>
  }

  .tag-edit-tag {
    text-align: center;
    color: <%= @tag.text_color_hex %>;
  }
</style>
<br>
<br>
<br>
<div class="user-profile-header tag-header" style="background-color:<%= @tag.bg_color_hex %>;color:<%= @tag.text_color_hex %>;">
  <div class="slanty-accent"></div>
  <div class="tag-or-query-header-container tag-edit-tag">
    <h1><% _t.heading tag: link_to(@tag.name, URL.tag(@tag), style: "color: #{@tag.text_color_hex};text-decoration: underline;") %></h1>
    <p>
      <%= _t.markdown tag: tag.code("##{@tag.name}", style: "background-color: #D2D2D2; color: black; padding: 5px; border-radius: 5px;") %>
    </p>
  </div>
</div>
<%= form_tag("/tag/#{@tag.id}", method: :patch, class: "tag-edit-form") do %>
  <div class="tag-edit-container">
    <% if flash[:success] %>
      <p class="tag-edit-flash-success">
        <%= flash[:success] %>
      </p>
    <% elsif flash[:error] %>
      <ul class="tag-edit-flash-error">
        <% flash[:error].each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>
    <h4>
      <a target="_blank" rel="noopener" href="https://thepracticaldev.s3.amazonaws.com/i/cc8vz48djnhty6c31jog.png">
        <%= _t.form.example %>
      </a>
    </h4>
    <% label_i18n = ->(param) { label_tag param, _t.form[param][:label] } %>
    <div class="tag-form-field">
      <%= label_i18n[:pretty_name] %>
      <br>
      <%= text_field_tag "tag[pretty_name]", @tag.pretty_name, placeholder: _t.form.pretty_name.placeholder, class: "tag-form-text-field" %>
    </div>
    <div class="tag-form-field">
      <%= label_i18n[:bg_color_hex] %>
      <br>
      <%= color_field_tag "tag[bg_color_hex]", @tag.bg_color_hex.presence || "#000000", placeholder: "#000000", class: "tag-form-text-field" %>
    </div>
    <div class="tag-form-field">
      <%= label_i18n[:text_color_hex] %>
      <br>
      <%= color_field_tag "tag[text_color_hex]", @tag.text_color_hex.presence || "#ffffff", placeholder: "#ffffff", class: "tag-form-text-field" %>
    </div>
    <div class="tag-form-field">
      <%= label_i18n[:short_summary] %>
      <br>
      <%= text_area_tag "tag[short_summary]", @tag.short_summary, placeholder: _t.form.short_summary.placeholder, class: "tag-form-text-field tag-area-text" %>
    </div>
    <div class="tag-form-field">
      <%= label_i18n[:wiki_body_markdown] %>
      <br>
      <%= text_area_tag "tag[wiki_body_markdown]", @tag.wiki_body_markdown, placeholder: _t.form.wiki_body_markdown.placeholder, class: "tag-form-text-field tag-area-text" %>
    </div>
    <div class="tag-form-field">
      <%= label_i18n[:rules_markdown] %>
      <br>
      <%= text_area_tag "tag[rules_markdown]", @tag.rules_markdown, placeholder: _t.form.rules_markdown.placeholder, class: "tag-form-text-field tag-area-text" %>
    </div>
    <div class="tag-form-field">
      <%= submit_tag _t.form.submit, class: "tag-edit-submit" %>
    </div>
  </div>
<% end %>

<% if current_user.has_role?(:super_admin) || current_user.has_role?(:admin) %>
  <center>
    <h1><a href="<%= edit_admin_tag_path(@tag.id) %>" data-no-instant><%= _t.admin tag: @tag.name %></a></h1>
    <br />
    <br />
    <br />
  </center>
<% end %>
