<% _t = t.v.tags %>
<% title _t.meta.title(community: community_name) %>

<%= content_for :page_meta do %>
  <link rel="canonical" href="<%= app_url("/tags") %>" />
  <meta name="description" content="<%= _t.meta.description community: community_name %>">
  <%= meta_keywords_default %>

  <meta property="og:type" content="article" />
  <meta property="og:url" content="<%= app_url("/tags") %>" />
  <meta property="og:title" content="<%= _t.meta.description community: community_name %>" />
  <meta property="og:image" content="<%= Settings::General.main_social_image %>" />
  <meta property="og:description" content="<%= _t.meta.og.description community: community_name %>" />
  <meta property="og:site_name" content="<%= community_name %>" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@<%= Settings::General.social_media_handles["twitter"] %>">
  <meta name="twitter:title" content="<%= _t.meta.description community: community_name %>">
  <meta name="twitter:description" content="<%= _t.meta.og.description community: community_name %>">
  <meta name="twitter:image:src" content="<%= Settings::General.main_social_image %>">
<% end %>

<main id="main-content" class="crayons-layout crayons-layout--1-col">
  <header class="px-2 m:px-0">
    <h1><%= _t.heading %></h1>
  </header>

  <div class="grid gap-2 m:gap-4 l:gap-6 m:grid-cols-2 l:grid-cols-3 px-2 m:px-0" data-follow-button-container="true">
    <% @tags.each do |tag| %>
      <% color = Color::CompareHex.new([tag.bg_color_hex || "#0000000", tag.text_color_hex || "#ffffff"]).brightness(0.8) %>
      <div class="tag-card crayons-card branded-4 p-4 m:p-6 m:pt-4 flex flex-col relative" style="border-top-color: <%= color %>; ">
        <h3 class="crayons-tag crayons-tag--l mb-2">
          <a href="<%= URL.tag tag %>" class="crayons-link">
            <span class="crayons-tag__prefix">#</span><%= tag.name %>
          </a>
        </h3>
        <% if tag.short_summary.present? %>
          <p class="mb-2 color-base-70 truncate-at-3"><%= sanitize tag.short_summary %></p>
        <% end %>
        <p class="mb-3 fs-s color-base-60">
          <%= _t.published tag.taggings_count %>
          <% if tag.sponsorship && tag.sponsorship.status == "live" && tag.sponsorship.expires_at > Time.current %>
          <%= _t.sponsor org: tag.sponsorship.organization.name %>
          <% end %>
        </p>

        <% if tag %>
          <div class="mt-auto">
            <button
              class="crayons-btn crayons-btn--secondary follow-action-button"
              data-info='{"id":<%= tag.id %>,"className":"Tag", "followStyle":"secondary"}'>
              <%= _t.follow %>
            </button>
          </div>
        <% end %>

        <% if tag.badge_id && tag.badge %>
          <img src="<%= optimized_image_url(tag.badge.badge_image_url, width: 180) %>" style="width: 64px; height: 64px; transform: rotate(<%= -25 + (tag.id.digits.first * 5) %>deg);" class="right-1 bottom-1 absolute" alt="" loading="lazy" />
        <% end %>
      </div>
    <% end %>
  </div>
</main>
<%= javascript_packs_with_chunks_tag "followButtons", defer: true %>
