<% _t = t.v.dashboard.actions %>
<div class="block m:hidden px-2">
  <select id="mobile_nav_dashboard" class="crayons-select">
    <option value="/dashboard" <%= "selected" if params[:action] == "show" && (params[:which] == "organization" || params[:which].blank?) %>><%= _t.mobile.posts @user.articles_count %></option>
    <option value="/dashboard/user_followers" <%= "selected" if params[:action] == "followers" %>><%= _t.mobile.followers @user.followers_count %></option>
    <option value="/dashboard/following_tags" <%= "selected" if params[:action] == "following_tags" %>><%= _t.mobile.following_tags @user.following_tags_count %></option>
    <option value="/dashboard/following_users" <%= "selected" if params[:action] == "following_users" %>><%= _t.mobile.following_users @user.following_users_count %></option>
    <option value="/dashboard/following_organizations" <%= "selected" if params[:action] == "following_organizations" %>><%= _t.mobile.following_orgs @user.following_organizations_count %></option>
    <option value="/dashboard/following_podcasts" <%= "selected" if params[:action] == "following_podcasts" %>><%= _t.mobile.following_pods @user.following_podcasts_count %></option>

    <option value="/listings/dashboard">Listings</option>

    <option value="<%= dashboard_analytics_path %>"><%= _t.analytics %></option>

    <% if @organizations && (params[:which].blank? || params[:which] == "organization") %>
      <% @organizations.each do |org| %>
        <option value="<%= dashboard_analytics_org_path(org.id) %>"><%= _t.for_org org: org.name %></option>
      <% end %>
    <% end %>

    <% if policy(:video).new? && policy(:video).enabled? %>
      <option value="<%= new_video_path %>"><%= _t.upload %></option>
    <% end %>
  </select>
</div>
