<% _t = t.v.dashboard.summary %>
<% num_views = @page_views_count %>

<div class="grid grid-cols-2 m:grid-cols-4 gap-2 m:gap-4 p-2 m:p-0">
  <div class="crayons-card crayons-card--secondary p-3 m:p-6">
    <strong class="fs-2xl m:fs-3xl lh-tight color-base-90"><%= number_with_delimiter(@reactions_count) %></strong>
    <span class="color-base-60 block"><%= _t.reactions %></span>
  </div>

  <div class="crayons-card crayons-card--secondary p-3 m:p-6">
    <strong class="fs-2xl m:fs-3xl lh-tight color-base-90"><%= num_views > 500 ? number_with_delimiter(num_views) : _t.lt_500 %></strong>
    <span class="color-base-60 block"><%= _t.views %></span>
  </div>

  <div class="crayons-card crayons-card--secondary p-3 m:p-6">
    <strong class="fs-2xl m:fs-3xl lh-tight color-base-90"><%= @user.listings.size %></strong>
    <span class="color-base-60 block"><%= _t.listings %></span>
  </div>

  <div class="crayons-card crayons-card--secondary p-3 m:p-6">
    <strong class="fs-2xl m:fs-3xl lh-tight color-base-90"><%= @user.unspent_credits_count %></strong>
    <span class="color-base-60 block"><%= _t.credits %></span>
  </div>
</div>
