<% _t = t.v.dashboard.article %>
<div class="dashboard-story js-dashboard-story spec__dashboard-story single-article <%= "story-unpublished" unless article.published %> <%= "js-dashboard-story story-archived hidden" if article.archived %>">
  <div class="dashboard-story__title">
    <h3 class="flex items-center">
      <% if article.archived %>
        <span class="crayons-indicator crayons-indicator--critical mr-2 fw-normal"><%= _t.archived %></span>
      <% end %>
      <a href="<%= article.current_state_path %>" class="inline-flex items-center with-content-font" lang="<%= article.base_lang %>">
        <% if article.organization_id %>
          <span class="crayons-logo crayons-logo--s mr-2 shrink-0">
            <img class="crayons-logo__image align-top" src="<%= article.organization&.profile_image_90 %>" alt="<%= article.organization&.name %>" width="24" height="24" loading="lazy" />
          </span>
        <% end %>
        <%= sanitize_and_decode article.title %>
      </a>
    </h3>
    <% if article.published %>
      <p class="fs-s color-base-60 js-dashboard-story-details">
        <strong class="fw-medium"><%= _t.published %></strong>
        <%= local_date(article.published_timestamp, show_year: article.displayable_published_at.year != Time.current.year) %>
        <% if article.edited? %>
          <strong class="fw-medium pl-2"><%= _t.edited %></strong>
          <%= local_date(article.edited_at, show_year: article.edited_at.year != Time.current.year) %>
        <% end %>
        <% if article.collection_id %>
          <strong class="fw-medium pl-2"><%= _t.series %></strong> <%= article.series %>
        <% end %>
      </p>
    <% end %>
  </div>

  <div class="fs-s color-base-60">
    <% if !article.published? %>
      <a href="<%= article.path %>/edit" class="crayons-indicator crayons-indicator--accent"><%= _t.draft %></a>
    <% else %>
      <div class="flex flex-nowrap whitespace-nowrap" data-analytics-pageviews data-article-id="<%= article.id %>">
        <span class="flex items-center p-1" title="<%= _t.reactions.title %>">
          <%= inline_svg_tag("small-heart.svg", aria: true, class: "crayons-icon mr-1", title: _t.reactions.icon) %>
          <% if article.published %>
            <%= article.public_reactions_count %>
          <% else %>
            0
          <% end %>
        </span>

        <span class="flex items-center p-1 ml-1" title="<%= _t.comments.title %>">
          <%= inline_svg_tag("small-comment.svg", aria: true, class: "crayons-icon mr-1", title: _t.comments.icon) %>
          <span class="spec__comments-count">
            <%= article.comments_count %>
          </span>
        </span>

        <span class="flex items-center p-1 ml-1" title="<%= _t.views.title %>">
          <%= inline_svg_tag("small-eye.svg", aria: true, class: "crayons-icon mr-1", title: _t.views.icon) %>
          <% if article.published %>
            <% if article.page_views_count > 25 %>
              <%= article.page_views_count %>
            <% else %>
              <%= _t.views.lt_25 %>
            <% end %>
          <% else %>
            0
          <% end %>
        </span>

        <% if article.user_subscriptions_count > 0 %>
          <a href="<%= dashboard_subscriptions_path(source_type: "Article", source_id: article.id) %>" class="flex items-center crayons-btn crayons-btn--ghost-dimmed crayons-btn--s" title="<%= _t.subscriptions.title %>">
            <%= inline_svg_tag("small-data.svg", aria: true, class: "crayons-icon mr-1", title: _t.subscriptions.icon) %>
            <%= article.user_subscriptions_count %>
          </a>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="dashboard-story__actions">
    <% if manage_view %>
      <a href="<%= article.path %>/delete_confirm" data-no-instant class="crayons-btn crayons-btn--ghost-danger crayons-btn--s"><%= _t.delete %></a>

      <% if article.profile_pins.any? %>
        <%= form_for(article.profile_pins.first) do |f| %>
          <button class="crayons-btn crayons-btn--ghost crayons-btn--s"><%= _t.unpin %></button>
        <% end %>
      <% else %>
        <%= form_for(ProfilePin.new) do |f| %>
          <%= f.hidden_field :pinnable_id, value: article.id %>
          <button class="crayons-btn crayons-btn--ghost crayons-btn--s" title="<%= _t.pin.title %>"><%= _t.pin.text %></button>
        <% end %>
      <% end %>
    <% elsif article.published %>
      <a href="<%= article.path %>/manage" class="crayons-btn crayons-btn--ghost crayons-btn--s" aria-label="<%= _t.manage.aria_label title: article.title %>"><%= _t.manage.text %></a>
    <% elsif @user == article.user %>
      <a href="<%= article.path %>/delete_confirm" data-no-instant class="crayons-btn crayons-btn--ghost-danger crayons-btn--s"><%= _t.delete %></a>
    <% end %>
    <a href="<%= article.path %>/edit" class="crayons-btn crayons-btn--ghost crayons-btn--s" aria-label="<%= _t.edit.aria_label article.title %>"><%= _t.edit.text %></a>

    <div class="js-ellipsis-menu relative inline-block">
      <button id="ellipsis-menu-trigger-<%= article.id %>" aria-controls="ellipsis-menu-dropdown-<%= article.id %>" aria-expanded="false" aria-haspopup="true" class="crayons-btn crayons-btn--ghost crayons-btn--s crayons-btn--icon">
        <%= inline_svg_tag("overflow-horizontal.svg", aria: true, class: "crayons-icon", title: _t.more.title(title: article.title)) %>
      </button>

      <div id="ellipsis-menu-dropdown-<%= article.id %>" class="crayons-dropdown top-100 right-0 align-left js-ellipsis-menu-dropdown p-1">
        <% if article.user_subscriptions_count > 0 %>
          <a href="<%= dashboard_subscriptions_path(source_type: "Article", source_id: article.id) %>" class="crayons-link crayons-link--block w-100"><%= _t.subscriptions.number article.user_subscriptions_count %></a>
        <% end %>
        <a href="<%= article.path %>/stats" class="crayons-link crayons-link--block w-100"><%= _t.stats %></a>
        <%= form_for(article, method: :patch, remote: true, authenticity_token: true, html: { "data-type": "json", class: "js-archive-toggle" }) do |f| %>
          <%= f.hidden_field :archived, value: !article.archived, id: "article_archived_#{article.id}" %>

          <button type="submit" class="crayons-link crayons-link--block w-100 border-0 bg-transparent">
            <%= _t[article.archived ? :unarchive : :archive] %>
          </button>
        <% end %>

        <% if organization && org_admin %>
          <%= form_for(article, html: { class: "mt-4 pt-4 border-0 border-t-1 border-color-base-10 border-solid" }) do |f| %>
            <input type="hidden" name="destination" value="/dashboard/organization/<%= organization.id %>" />
            <div class="crayons-field mb-4">
              <label for="user_id" class="crayons-field__label"><%= _t.author %></label>
              <%= f.select :user_id, options_for_select(organization.users.pluck(:name, :id), article.user_id), {}, { class: "crayons-select" } %>

            </div>
            <button type="submit" class="crayons-btn"><%= _t.save %></button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
