<% _t = t.v.dashboard.analytics %>
<% title _t.meta.title %>

<main class="dashboard-container analytics-container crayons-layout" id="main-content">
  <% if @organizations.any? %>
    <nav aria-label="Dashboards">
      <ul class="list-none">
        <li>
          <a href="<%= dashboard_path %>" class="rounded-btn crayons-link--block rounded-btn--transparent"><%= _t.back %></a>
        </li>
        <li>
          <a class="rounded-btn crayons-link--block organization" 
             href="<%= dashboard_analytics_path %>"
             <%= params[:org_id] ? "" : 'aria-current="page"'.html_safe %>>
             <%= _t.your %>
          </a>
        </li>
        <% @organizations.each do |org| %>
          <li>
            <a
              class="rounded-btn crayons-link--block organization"
              href="<%= dashboard_analytics_org_path(org.id) %>"
              data-organization-id="<%= org.id %>"
              <%= params[:org_id].to_i == org.id ? 'aria-current="page"'.html_safe : "" %>>
              <%= _t.org org: org.name %>
            </a>
          </li>
        <% end %>
      </ul>
    </nav>
  <% end %>

  <div class="crayons-card p-3 mt-5">
    <h1 class="fs-4xl fw-medium"><%= _t.heading name: @user_or_org.name %></h1>
    <p><%= _t.desc_1 members: Settings::Community.member_label %></p>
    <p><%= _t.desc_2 members: Settings::Community.member_label %></p>
  </div>

  <%= render "shared/stats" %>
</main>

<%= javascript_packs_with_chunks_tag "analyticsDashboard", defer: true %>
