<% _t = t.v.search.meta %>
<% title _t.title %>
<link rel="canonical" href="<%= app_url(search_path) %>" />
<meta name="description" content="<%= Settings::Community.community_description %>">
<%= meta_keywords_default %>

<meta property="og:type" content="website" />
<meta property="og:url" content="<%= app_url(request.path) %>" />
<meta property="og:title" content="<%= _t.description site: community_name %>" />
<meta property="og:image" content="<%= Settings::General.main_social_image %>">
<meta property="og:description" content="<%= Settings::Community.community_description %>">
<meta property="og:site_name" content="<%= _t.description site: community_name %>" />

<meta name="twitter:site" content="@<%= Settings::General.social_media_handles["twitter"] %>">
<meta name="twitter:title" content="<%= community_name %>">
<meta name="twitter:description" content="<%= Settings::Community.community_description %>">
<meta name="twitter:image:src" content="<%= Settings::General.main_social_image %>">
<meta name="twitter:card" content="summary_large_image">
