@import '../variables';
@import '../config/import';

.articles-list {
  // Hack preventing content exceeding its container - it works for scenarios where we have
  // `pre` tag having wide (overflowing) text. And the container itself is part of a layout
  // built using CSS `grid`. Without this, the grid layout wouldn't stick to its defined
  // widths...
  min-width: 0;
}

.crayons-story {
  background: var(--card-bg);
  font-size: var(--fs-base); // Todo: remove when ready.
  box-shadow: 0 0 0 1px var(--card-border);
  margin-bottom: var(--su-1);
  position: relative;
  border-radius: var(--radius);

  &:focus-within {
    outline: none;
    --card-border: var(--accent-brand);
    box-shadow: 0 0 0 2px var(--card-border);
  }

  @media (min-width: $breakpoint-m) {
    border-radius: var(--radius);
  }

  @media (min-width: $breakpoint-l) {
    margin-bottom: var(--su-1);
  }

  --story-spacing-unit: var(--su-3);
  --story-padding: var(--story-spacing-unit) var(--story-spacing-unit) 0;
  --title-font-size: var(--fs-xl);

  @media (min-width: $breakpoint-s) {
    --story-spacing-unit: var(--su-4);
    --title-font-size: var(--fs-2xl);

    &--featured {
      --title-font-size: var(--fs-3xl);
    }
  }

  &__hidden-navigation-link {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  // Defining additional colors.
  &__secondary {
    color: var(--card-color-secondary);

    &[href]:hover,
    [enabled]:hover {
      color: var(--card-color);
    }
  }

  &__tertiary {
    color: var(--card-color-secondary);
    text-align: right;

    &[href]:hover {
      color: var(--card-color);
    }
  }

  // Cover section for promoted (first) card.
  &__cover {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 42%;
    background-size: cover;
    background-position: center center;
    border-radius: var(--radius) var(--radius) 0 0;
  }

  &__body {
    padding: var(--story-padding);
  }

  &__indention {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    @media (min-width: $breakpoint-m) {
      padding-left: calc(var(--su-7) + var(--su-2));
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--card-info-bg);
    padding: calc(var(--story-spacing-unit) / 2) var(--story-spacing-unit);
    margin: 0 calc(var(--story-spacing-unit) * -1);
    border-radius: 0 0 var(--radius) var(--radius);

    .pinned svg {
      fill: var(--accent-brand);
    }
  }

  &__middle {
    flex-grow: 1;
    margin-right: var(--story-spacing-unit);
  }

  &__overflow {
    color: var(--card-color-tertiary);
    @media (min-width: $breakpoint-s) {
      display: none;
    }
    &:hover {
      color: var(--card-color);
    }
  }

  &:hover {
    .crayons-story__overflow {
      display: inline-flex;
    }
  }

  &__meta {
    display: flex;
    align-items: center;
    line-height: var(--lh-tight);
    font-size: var(--fs-s);
  }

  &__author-pic {
    position: relative;
    margin-right: var(--su-2);
  }

  &__tags {
    margin-bottom: var(--su-2);
    margin-left: calc(var(--su-1) * -1);
  }

  &__title {
    color: var(--card-color);
    line-height: var(--lh-tight);
    font-size: var(--title-font-size);
    overflow-wrap: anywhere;
    word-break: break-word;
    margin-bottom: var(--su-1);

    @media (min-width: $breakpoint-m) {
      margin-bottom: var(--su-2);
    }

    a {
      color: inherit;
      display: block;

      &:hover {
        color: var(--link-color-hover);
      }
    }
  }

  &__flare-tag {
    font-weight: normal;
    // font-size: 0.6em;
    padding: 0.3em;
    vertical-align: middle;
    position: relative;
    top: -2px;
    line-height: 1em;
    display: inline-block;
    border-radius: var(--radius);
    background: var(--base-60);
    margin-right: var(--su-1);
    color: var(--base-inverted);
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    font-size: var(--fs-s);
    line-height: var(--lh-tight);
  }

  &__details {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--su-2);
  }

  &__comments {
    cursor: default;
    background: var(--story-comments-bg);
    border-radius: var(--radius);
    position: relative;
    bottom: var(--su-2);
    margin: var(--su-2);
    margin-bottom: 0;
    padding: var(--su-2) 0;

    @media (min-width: $breakpoint-s) {
      bottom: var(--su-3);
      margin: var(--su-3);
      margin-bottom: 0;
    }

    &__headline {
      font-weight: var(--fw-bold);
      font-size: var(--fs-s);
      color: var(--card-color-secondary);
      margin-bottom: var(--su-3);
      padding-left: calc(var(--su-6) + var(--su-4));
    }

    &__actions {
      padding-left: calc(var(--su-6) + var(--su-4));
      margin-top: var(--su-1);
    }
  }

  &__snippet {
    color: var(--card-secondary-color);
    font-size: inherit;
    em {
      font-style: normal;
      // Intentionally not using our CSS variables for `color` and `background`
      // so this is inline with <mark>'s browser default styling.
      color: black;
      background: yellow;
    }
    overflow-wrap: anywhere;
    word-break: break-word;
  }

  &__headline {
    font-family: var(--ff-monospace);
    font-size: var(--fs-s);
    color: var(--card-color-tertiary);
    margin-bottom: var(--su-4);

    a {
      color: inherit;
      display: block;

      &:hover {
        color: var(--link-color-hover);
      }
    }
  }

  &__save {
    display: flex;
    align-items: center;
  }

  &__video {
    position: relative;
    padding-top: 56%;
    display: block;
    background-color: var(--base-100);
    background-size: cover;

    img {
      width: 100%;
    }

    &__time {
      position: absolute;
      bottom: var(--su-4);
      right: var(--su-4);
      background: rgba(0, 0, 0, 0.8);
      color: var(--base-inverted);
      border-radius: var(--radius);
      padding: var(--su-1);
      font-size: var(--fs-s);
      font-family: var(--ff-monospace);
    }
  }
}

.crayons-podcast-episode {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--su-4);

  &:last-child {
    margin-bottom: 4px;
  }

  &__cover {
    width: var(--su-8);
    height: var(--su-8);
    margin-right: var(--su-2);

    img {
      width: var(--su-8);
      min-width: var(--su-8);
      border-radius: var(--radius);
    }
  }

  &__author {
    font-size: var(--fs-s);
    color: var(--card-color-secondary);
    margin-top: -5px;
  }

  &__title {
    color: var(--card-color);
    line-height: var(--lh-tight);
    margin-bottom: var(--su-1);
    font-size: var(--fs-l);

    @media (min-width: $breakpoint-s) {
      font-size: var(--fs-xl);
    }

    a {
      color: inherit;
      display: block;

      &:hover {
        color: var(--link-color-hover);
      }
    }
  }
}

// Legacy
.crayons-story {
  .crayons-btn {
    .bm-initial {
      display: inline-flex;
    }
    .bm-success {
      display: none;
    }

    &.selected {
      .bm-initial {
        display: none;
      }
      .bm-success {
        display: inline-flex;
      }
    }
  }
}
