@import '../config/import';

.crayons-tabs {
  // Setup
  --border-width: 3px;
  --tab-vertical-padding: var(--su-2);
  --tab-horizontal-padding: var(--su-2);
  --font-size: var(--fs-base);
  display: flex;

  @media (min-width: $breakpoint-s) {
    --tab-vertical-padding: var(--su-2);
  }

  &--scrollable {
    overflow-x: auto;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }

  &__list {
    list-style: none;
    display: flex;
    width: 100%;

    li {
      width: 100%;
      max-width: max-content; // to have elasticity for localized strings
    }
  }

  &__item {
    padding: var(--tab-vertical-padding) var(--tab-horizontal-padding);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-size);
    line-height: var(--su-6);
    text-decoration: none;
    cursor: pointer;
    color: var(--tab-color);
    position: relative;
    border-radius: var(--radius);
    transition: all var(--transition-props);
    width: 100%;
    border: none;
    background: transparent;

    @media (min-width: $breakpoint-s) {
      width: auto;
      margin: 0 var(--su-1);
    }

    /* 
      Add a, hidden, bold version of the text to get width.
      This prevents the minor layout shift on tab change.
    */
    &::before {
      content: attr(data-text);
      height: 0;
      visibility: hidden;
      overflow: hidden;
      user-select: none;
      pointer-events: none;
      font-weight: var(--fw-medium);

      @media speech {
        display: none;
      }
    }

    &::after {
      display: none;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: var(--border-width);
      content: '';
      background: var(--tab-bg-current);
      border-radius: var(--radius);
      transition: all var(--transition-props);

      @media (min-width: $breakpoint-s) {
        left: var(--tab-horizontal-padding);
        right: var(--tab-horizontal-padding);
      }
    }

    &:hover {
      background: var(--tab-bg-hover);
      color: var(--tab-color-hover);

      &:after {
        left: 0;
        right: 0;
        border-radius: 0 0 var(--radius) var(--radius);
      }
    }

    &--current {
      font-weight: var(--fw-medium);
      color: var(--tab-color-current);

      &::after {
        display: block;
      }
    }
  }

  &--pills {
    .crayons-tabs__item--current {
      background: var(--tab-bg-current);
      color: var(--tab-pill-color-current);

      &::after {
        display: none;
      }
    }
  }

  &--stacked {
    flex-direction: column;
    @media (min-width: $breakpoint-s) {
      flex-direction: row;
    }

    .crayons-tabs__item {
      margin: 0;

      @media (min-width: $breakpoint-s) {
        margin: 0 var(--su-1);
      }
    }
  }

  &--wrapped {
    flex-wrap: wrap;

    .crayons-tabs__list {
      li {
        width: auto;
      }
    }

    .crayons-tabs__item {
      margin: var(--su-1);
      width: auto;
    }
  }

  &--muted {
    .crayons-tabs__item {
      color: var(--tab-muted-color);

      &:hover {
        color: var(--tab-muted-color-hover);
        background: var(--tab-muted-bg-hover);
      }

      &:after {
        background: var(--tab-muted-bg-current);
      }
    }

    &.crayons-tabs--pills {
      .crayons-tabs__item--current {
        color: var(--tab-muted-color-current);
        background: var(--tab-muted-bg-current);
      }
    }
  }
}
