<%= t.m.verification.html user: @user.username, click: tag.strong(link_to(t.m.verification.click, app_url(verify_email_authorizations_path(confirmation_token: @confirmation_token, username: @user.username)))) %>
