<% _t = t.v.users %>
<% unless internal_navigation? || user_signed_in? %>
  <script type="application/ld+json">
    <%= @organization_json_ld.to_json.html_safe %>
  </script>
<% end %>
<style>
  :root {
    --profile-brand-color: <%= Color::CompareHex.new([user_colors(@user)[:bg], user_colors(@user)[:text]]).brightness(0.88) %>;
  }
</style>
<div class="brand-bg">
  <div class="crayons-layout pt-7 m:pt-9">
    <header class="profile-header crayons-card mt-2">
      <div class="relative profile-header__top">
        <span class="crayons-logo crayons-logo--3xl">
          <img src="<%= Images::Profile.call(@user.profile_image_url, length: 320) %>" alt="<%= @user.name %> logo" width="128" height="128" title="<%= _t.logo name: @user.name %>" class="crayons-logo__image">
        </span>

        <div class="profile-header__actions">
          <button id="user-follow-butt" class="crayons-btn whitespace-nowrap follow-action-button user-profile-follow-button" data-info='{"id":<%= @user.id %>,"className":"<%= @user.class.name %>"}'><%= _t.follow %></button>
        </div>
      </div>

      <div class="profile-header__details">
        <h1 class="crayons-title fw-heavy mb-2"><%= sanitize @user.name %></h1>
        <% if @user.tag_line.present? %>
          <p class="fs-l m:fs-xl color-base-70 mb-4 mx-auto max-w-100 m:max-w-75"><%= sanitize @user.tag_line %></p>
        <% end %>
        <p class="fs-base m:fs-l color-base-90 mb-4 mx-auto max-w-100 m:max-w-75"><%= sanitize(@user.summary.presence || _t.empty) %></p>

        <div class="profile-header__meta">
          <% if @organization.location.present? %>
            <span class="profile-header__meta__item">
              <%= inline_svg_tag("location.svg", aria: true, class: "crayons-icon mr-2 shrink-0", title: _t.location.icon) %>
              <%= sanitize @organization.location %>
            </span>
          <% end %>

          <span class="profile-header__meta__item">
            <%= inline_svg_tag("cake.svg", aria: true, class: "crayons-icon mr-2 shrink-0", title: _t.joined.icon) %>
            <%= _t.joined.text date: local_date(@user.created_at) %>
          </span>

          <span class="profile-header__meta__item -ml-1">
            <% if @user.twitter_username.present? %>
              <a href="https://twitter.com/<%= @user.twitter_username %>" target="_blank" rel="noopener me" class="px-1 align-middle inline-block">
                <%= inline_svg_tag("twitter.svg", class: "crayons-icon", aria: true, title: _t.twitter.icon) %>
              </a>
            <% end %>
            <% if @user.github_username.present? %>
              <a href="https://github.com/<%= @user.github_username %>" target="_blank" rel="noopener me" class="px-1 align-middle inline-block">
                <%= inline_svg_tag("github.svg", class: "crayons-icon", aria: true, title: _t.github.icon) %>
              </a>
            <% end %>
            <% if @user.website_url.present? %>
              <a href="<%= @user.website_url %>" target="_blank" rel="noopener nofollow me" class="px-1 align-middle inline-block">
                <%= inline_svg_tag("external.svg", class: "crayons-icon", aria: true, title: _t.external.icon) %>
              </a>
            <% end %>
          </span>
        </div>
      </div>

      <%= render "organizations/metadata" %>

    </header>
  </div>
</div>
