<% @podcast_episodes.each_with_index do |episode, i| %>
  <a href="<%= episode.path %>" class="small-pic-link-wrapper" id="article-link-<%= episode.id %>">
    <div class="single-article single-article-small-pic single-article-single-podcast">
      <div class="small-pic">
        <%= optimized_image_tag(episode.image_url || episode.podcast.image_url,
                                optimizer_options: { crop: "imagga_scale", width: 240, height: 240 },
                                image_options: { alt: episode.title, loading: "lazy" }) %>
      </div>
      <div class="content">
        <h3><span class="tag-identifier"><%= t.v.podcasts.tag %></span><%= episode.title %></h3>
      </div>
      <h4>
        <a href="/<%= episode.podcast.slug %>">
          <%= episode.podcast.title %>
          <% if episode.published_at? %>
            ・<time class="published-at" datetime="<%= episode.published_timestamp %>">
            <%= episode.readable_publish_date %>
            </time>
            <span class="time-ago-indicator-initial-placeholder" data-seconds="<%= episode.published_at_int %>"></span>
          <% end %>
        </a>
      </h4>
    </div>
  </a>
<% end %>
