<div id="sidebar-wrapper-left" class="sidebar-wrapper sidebar-wrapper-left">
  <div class="sidebar-bg" id="sidebar-bg-left"></div>
  <div class="side-bar">
    <% if @podcast_index && @podcasts %>
      <div class="widget podcast-pic-widget">
        <header>
          <a href="/pod"><h4><%= t.v.podcasts.list %></h4></a>
        </header>
        <div class="widget-body">
          <% @podcasts.each do |podcast| %>
            <a href="/<%= podcast.slug %>">
              <div class="podcast-pic" id="podcast-pic-<%= podcast.slug %>">
                <img src="<%= Images::Optimizer.call(podcast.image_url, crop: "fill", width: 100, height: 100) %>"
                     alt="<%= podcast.title %>" />
                <div class="podcast-name">
                  <div class="podcast-name-inner">
                    <%= podcast.title %>
                  </div>
                </div>
              </div>
            </a>
          <% end %>
          <p><%= link_to "Suggest a Podcast", new_podcast_path, class: "suggest-podcast" %></p>
         </div>
      </div>
    <% elsif @podcast %>
    <% end %>
  </div>
</div>
