<%= content_for :page_meta do %>
  <%= render "podcast_episodes/meta" %>
<% end %>
<% if @podcast %>
  <% image = Images::Optimizer.call(@podcast.pattern_image_url || "https://i.imgur.com/fKYKgo4.png", fetch_format: "jpg", crop: nil) %>
  <div class="user-profile-header podcast-header" style="background:#<%= @podcast.main_color_hex %> url(<%= image %>);">
    <div class="tag-or-query-header-container">
      <h1><img class="record main-image" src="<%= Images::Optimizer.call(@podcast.image_url, crop: "fill", width: 420, height: 420) %>"
               alt="<%= @podcast.title %>" /> <%= @podcast.title %>
               <button id="user-follow-butt" class="crayons-btn follow-action-button user-profile-follow-button" data-info='{"id":<%= @podcast.id %>,"className":"<%= @podcast.class.name %>"}'>&nbsp;</button>
</h1>
    </div>
  </div>
<% end %>

<div class="home" id="index-container"
     data-params="<%= params.to_json(only: %i[tag username q]) %>" data-which="<%= @list_of %>"
     data-tag=""
     data-feed="<%= params[:timeframe] || "base-feed" %>"
     data-articles-since="<%= Timeframe.datetime_iso8601(params[:timeframe]) %>">
  <%= render "podcast_episodes/sidebar" %>
  <main class="articles-list" id="main-content">
    <div class="substories" id="substories">
      <% if @podcast_episodes %>
        <%= render "podcast_episodes/episodes_feed" %>
      <% end %>
    </div>
    <div class="loading-articles" id="loading-articles">
      <%= t.v.loading %>
    </div>
  </main>
  <%= render "podcast_episodes/sidebar_additional" %>
</div>

<%= javascript_packs_with_chunks_tag "storiesList", defer: true %>
