<% _t = t.v.feedback %>
<% title _t.meta.title %>
<% cache(release_adjusted_cache_key("feedback-messages-lander-styling")) do %>
  <style>
    <%= Rails.application.assets["feedback_messages.css"].to_s.html_safe %>
  </style>
<% end %>
<div class="dialog">
  <div>
    <h2><%= _t.heading %></h2>
    <h3><a href="/"><%= _t.home %></a></h3>
    <p>
      <%= _t.desc email: email_link %>
    </p>
  </div>
</div>
