<% _t = t.v.main.footer %>
<footer class="crayons-footer print-hidden">
  <div id="footer-container" class="crayons-layout crayons-layout--limited-m crayons-footer__container">
    <p class="fs-s crayons-footer__description"><a href="/" aria-label="<%= t.v.main.aria_home community: community_name %>" class="crayons-link"><%= _t.desc community: community_name, desc: Settings::Community.community_description %></p>
    <div class="m:-mb-4 crayons-footer__description">
      <%# The following copy is necessary for compatibility with the Forem AGPL licence which requires instances to link back to the source. %>
      <p class="fs-s"><%= _t.built.text(
                            forem: link_to(_t.built.forem, "https://www.forem.com", class: "crayons-link", target: "_blank", rel: "noopener"),
                            opensource: link_to(_t.built.opensource, "https://dev.to/t/opensource", target: "_blank", rel: "noopener", class: "crayons-link"),
                            dev: link_to(_t.built.dev, "https://dev.to", target: "_blank", rel: "noopener", class: "crayons-link"),
                          ) %></p>
      <p class="fs-s"><%= _t.powered.text(
                            rails: link_to(_t.powered.rails, "https://dev.to/t/rails", target: "_blank", rel: "noopener", class: "crayons-link"),
                            community: community_name,
                            copyright: copyright_notice,
                          ) %></p>
      <div><a href="https://www.forem.com" target="_blank" rel="noopener" class="inline-block mt-4"><%= inline_svg_tag("logo-forem.svg", aria: true, class: "crayons-icon crayons-icon--default", title: _t.logo) %></a></div>
    </div>
  </div>
</footer>
<div id="snack-zone"></div>
