<% _t = t.v.main.nav %>
<div class="crayons-dropdown left-2 right-2 s:right-4 s:left-auto p-0 crayons-header__menu__dropdown inline-block">
  <ul class="p-0" id="crayons-header__menu__dropdown__list">
    <li id="user-profile-link-placeholder" class="border-0 border-b-1 border-solid border-base-20 p-1 mb-1">
      <a id="first-nav-link" class="crayons-link crayons-link--block">
        <div>
          <span class="fw-medium block"><%= _t.etc %></span>
          <small class="fs-s color-base-50"></small>
        </div>
      </a>
    </li>

    <li class="px-1 js-header-menu-admin-link hidden">
      <a href="<%= admin_path %>" class="crayons-link crayons-link--block" data-no-instant><%= _t.admin %></a>
    </li>
    <li class="px-1"><a href="<%= dashboard_path %>" class="crayons-link crayons-link--block"><%= _t.dashboard %></a></li>
    <li class="px-1"><a href="<%= mod_path %>" class="crayons-link crayons-link--block trusted-visible-block"><%= _t.moderator %></a></li>
    <li class="px-1"><a href="<%= new_path %>" class="crayons-link crayons-link--block"><%= t.v.main.new %></a></li>
    <li class="px-1"><a href="<%= readinglist_path %>" class="crayons-link crayons-link--block"><%= _t.list %></a></li>
    <li class="border-0 border-b-1 border-solid border-base-20 px-1 pb-1">
      <a href="<%= user_settings_path %>" class="crayons-link crayons-link--block" id="second-last-nav-link"><%= _t.settings %></a>
    </li>

    <li class="px-1 py-1">
      <a href="<%= signout_confirm_path %>" class="crayons-link crayons-link--block" id="last-nav-link"><%= t.v.main.signout %></a>
    </li>
  </ul>
</div>
