<% _t = t.v.main.tags %>
<nav class="mb-6" aria-label="Secondary sidebar nav">
  <% if user_signed_in? %>
    <header class="p-2 pr-0 flex items-center justify-between">
      <h3 class="crayons-subtitle-3"><%= _t.my %></h3>
      <a href="/dashboard/following_tags" class="crayons-btn crayons-btn--icon crayons-btn--ghost-dimmed" aria-label="Customize tag priority" title="Customize tag priority">
        <%= inline_svg_tag("cog.svg", class: "crayons-icon") %>
      </a>
    </header>
    <div id="sidebar-nav-followed-tags" class="overflow-y-auto mb-2 sidebar-nav-followed-tags" style="max-height: 42vh;"></div>
  <% else %>
    <h3 class="crayons-subtitle-3 p-2"><%= _t.popular %></h3>
    <div id="sidebar-nav-default-tags" class="overflow-y-auto" style="max-height: 42vh">
      <% Tag.where(supported: true).order(hotness_score: :desc).limit(30).pluck(:id, :name).each do |tag_array| %>
        <div class="sidebar-nav-element" id="default-sidebar-element-<%= tag_array.second %>">
          <a class="crayons-link crayons-link--block py-2 px-2" href="<%= tag_path(tag_array.second) %>">
            #<%= tag_array.second %>
          </a>
          <a class="follow-action-button sidebar-nav-link-follow crayons-btn crayons-btn--s"
            href="#" id="sidebar-nav-link-follow-<%= tag_array.second %>"
            data-info='{"id":<%= tag_array.first %>,"className":"Tag"}'>
            <%= _t.follow %>
          </a>
        </div>
      <% end %>
    </div>
  <% end %>
</nav>
