<% _t = t.v.main.modal %>
<div id="global-signup-modal" class="authentication-modal hidden">
<div class="authentication-modal__container">
  <figure class="authentication-modal__image-container">
    <img class="authentication-modal__image" src="<%= optimized_image_url(Settings::General.logo_png, width: 190) %>"
      alt="<%= community_name %>" loading="lazy" />
  </figure>
  <div class="authentication-modal__content">
    <p class="authentication-modal__description">
      <% if Settings::Community.tagline.present? %>
        <%= Settings::Community.tagline %>
      <% else %>
        <%= _t.desc %>
      <% end %>
    </p>
  </div>
  <div class="authentication-modal__actions">
    <a href="<%= sign_up_path %>" class="crayons-btn" aria-label="<%= _t.login.aria_label %>" data-no-instant>
      <%= _t.login.text %>
    </a>
    <a href="<%= sign_up_path(state: "new-user") %>" class="crayons-btn crayons-btn--ghost-brand" aria-label="<%= _t.create.aria_label %>" data-no-instant>
      <%= _t.create.text %>
    </a>
  </div>
  <footer class="authentication-modal__footer">
    <p class="authentication-modal__footer-label">
      <%= _t.footer %>
    </p>
  </footer>
  </div>
</div>

<%= javascript_packs_with_chunks_tag "signupModalShortcuts", defer: true %>
