<% _t = t.v.main.header %>
<div class="navigation-progress" id="navigation-progress"></div>
<header class="crayons-header print-hidden">
  <a href="#main-content" class="skip-content-link"><%= _t.skip %></a>
  <div class="crayons-header__container">
    <button class="crayons-btn crayons-btn--ghost crayons-btn--icon-rounded js-hamburger-trigger inline-block m:hidden mx-2">
      <%= inline_svg_tag("hamburger.svg", aria: true, class: "crayons-icon", title: t.v.hamburger.title) %>
    </button>
    <%= render "layouts/logo" %>

    <div id="pwa-nav-buttons" class="pwa-nav-buttons">
      <button type="button" id="app-back-button">
        <%= inline_svg_tag("keyboard-left-arrow-button.svg", aria: true, width: 16, height: 16, class: "crayons-icon", title: t.v.hamburger.back) %>
      </button>
      <button type="button" id="app-forward-button">
        <%= inline_svg_tag("keyboard-right-arrow-button.svg", aria: true, width: 16, height: 16, class: "crayons-icon", title: t.v.hamburger.forward) %>
      </button>
      <button type="button" id="app-refresh-button">
        <%= inline_svg_tag("refresh-button.svg", aria: true, width: 16, height: 16, class: "crayons-icon", title: t.v.hamburger.refresh) %>
      </button>
    </div>

    <div class="crayons-header--search js-search-form" id="header-search">
      <form accept-charset="UTF-8" method="get" action="<%= search_path %>">
        <input class="crayons-header--search-input crayons-textfield js-search-input" type="text" id="nav-search" name="q" placeholder="<%= t.v.search.placeholder %>" autocomplete="off" />
      </form>
    </div>

    <div class="flex items-center h-100 ml-auto">
      <a class="crayons-header__link crayons-btn crayons-btn--ghost crayons-btn--icon-rounded m:hidden <% unless user_signed_in? %>mx-2<% end %>" id="search-link" aria-label="<%= t.v.search.icon.aria_label %>" href="<%= search_path %>">
        <%= inline_svg_tag("search.svg", aria: true, class: "crayons-icon", title: t.v.search.icon.title) %>
      </a>
      <% if user_signed_in? %>
        <a href="<%= new_path %>" class="crayons-btn hidden mr-2 whitespace-nowrap m:block ml-auto"><%= t.v.main.new %></a>

        <span class="trusted-visible-block">
          <a id="moderation-link" class="crayons-header__link crayons-btn crayons-btn--ghost crayons-btn--icon-rounded m:flex hidden" aria-label="<%= _t.moderation.aria_label %>" href="<%= mod_path %>">
            <%= inline_svg_tag("mod.svg", aria: true, class: "crayons-icon", title: _t.moderation.icon) %>
          </a>
        </span>

        <a href="<%= connect_path %>" id="connect-link" class="crayons-header__link crayons-btn crayons-btn--ghost crayons-btn--icon-rounded" aria-label="<%= _t.connect.aria_label %>">
          <%= inline_svg_tag("connect.svg", aria: true, class: "crayons-icon", title: _t.connect.icon) %>
          <span class="crayons-indicator crayons-indicator--accent hidden" id="connect-number"></span>
        </a>

        <a href="<%= notifications_path %>" id="notifications-link" class="crayons-header__link crayons-btn crayons-btn--ghost crayons-btn--icon-rounded" aria-label="<%= _t.notifications.aria_label %>">
          <%= inline_svg_tag("bell.svg", aria: true, class: "crayons-icon", title: _t.notifications.icon) %>
          <span class="crayons-indicator crayons-indicator--critical hidden" id="notifications-number"></span>
        </a>

        <div class="crayons-header__menu" id="crayons-header__menu">
          <button type="button" class="crayons-header__menu__trigger" id="member-menu-button" aria-label="<%= _t.menu.aria_label %>" aria-expanded="false">
            <span class="crayons-avatar crayons-avatar--l"><img class="crayons-avatar__image" alt="" id="nav-profile-image" /></span>
          </button>
          <%= render "layouts/nav_menu" %>
        </div>
      <% else %>
        <a href="<%= sign_up_path %>" class="crayons-btn crayons-btn--ghost-brand mr-2 hidden m:block whitespace-nowrap ml-auto" data-no-instant>
          <%= _t.login %>
        </a>

        <a href="<%= sign_up_path(state: "new-user") %>" class="crayons-btn mr-2 whitespace-nowrap fs-s s:fs-base" data-no-instant>
          <%= _t.create %>
        </a>
      <% end %>
    </div>
  </div>
  <% if user_signed_in? %>
    <script>
      // Here we have some scripts we want to get working on before
      // waiting for the page to stream in.

      // Load the current user's pic as quickly as it's available
      var currentUser = localStorage.getItem('current_user')
      var navProfilePic = document.getElementById('nav-profile-image')
      if (currentUser && navProfilePic) {
        navProfilePic.src = JSON.parse(currentUser).profile_image_90;
      }

      // Load notifications count as quickly as it's available.
      // Not if we're on the notifications page itself
      if (
        window.location.pathname !== '/notifications'
      ) {
        var xmlhttp;
        if (window.XMLHttpRequest) {
          xmlhttp = new XMLHttpRequest();
        } else {
          xmlhttp = new ActiveXObject('Microsoft.XMLHTTP');
        }
        xmlhttp.onreadystatechange = function() {
          if (xmlhttp.readyState == XMLHttpRequest.DONE) {
            var count = xmlhttp.response;
            if (isNaN(count)) {
              document
                .getElementById('notifications-number')
                .classList.add('hidden');
            } else if (count != '0' && count != undefined && count != '') {
              document.getElementById('notifications-number').innerHTML =
                xmlhttp.response;
              document
                .getElementById('notifications-number')
                .classList.remove('hidden');
            } else {
              document
                .getElementById('notifications-number')
                .classList.add('hidden');
            }
          }
        };

        xmlhttp.open('GET', '/notifications/counts', true);
        xmlhttp.send();
      }
    </script>
  <% end %>
</header>

<%= render "shared/hamburger" %>
