<html>
  <body style='font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;'>
    <table style="width:100%;max-width:700px;margin:auto;font-size:18px">
      <tr>
        <td style="padding:4%;">
          <%= yield %>
        </td>
      </tr>
      <% if @user %>
        <tr>
          <td style="padding:3% 12% 2% 4%;font-size:18px;line-height:22px;color:#7d7d7d">
            <%= signed_up_with(@user) %>

            <br /><br />
            <div style="font-size:0.78em">
              <% if @unsubscribe %>
                <%= link_to t.m.unsubscribe, email_subscriptions_unsubscribe_url(ut: @unsubscribe), style: "color:#7d7d7d" %> |
                <a href="<%= app_url(user_settings_path(:notifications)) %>" style="color:#7d7d7d"><%= t.m.adjust %></a>
              <% else %>
                <%= t.m.adjust_only path: link_to(app_url(user_settings_path(:notifications)), app_url(user_settings_path(:notifications))) %></a>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
