<% _t = t.v.chat.meta %>
<% title _t.title name: community_name %>
<%= content_for :page_meta do %>
  <link rel="canonical" href="<%= app_url(connect_path) %>" />
  <meta name="description" content="<%= _t.description name: community_name %>">
<% end %>
<%= csrf_meta_tags %>

<% if user_signed_in? %>
  <%= javascript_packs_with_chunks_tag "Chat", defer: true %>
  <main class="chat-page-wrapper" id="main-content">
    <div
      id="chat"
      class="live-chat"
      data-pusher-key="<%= ApplicationConfig["PUSHER_KEY"] %>"
      data-github-token="<%= @github_token %>"
      data-chat-channels="<%= [] %>"
      data-chat-options="<%= { showChannelsList: true, showTimestamp: true, activeChannelId: @active_channel&.id, currentUserId: current_user.id }.to_json %>"
      data-tag-moderator="<%= { isTagModerator: current_user.tag_moderator? }.to_json %>">
      <div class="chat" id="chat_placeholder">
        <div class="chat__channels chat__channels--placeholder">
        </div>
        <div class="chat__activechat">
          <div class="activechatchannel">
            <div class="activechatchannel__conversation">
              <div class="active-channel__header"><span>&nbsp;</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
<% else %>
  <%= render "devise/registrations/registration_form" %>
<% end %>
<style>
  footer {
    display: none
  }
</style>
<script>
    // First we get the viewport height and we multiple it by 1% to get a value for a vh unit
  let vh = window.innerHeight * 0.01;
  // Then we set the value in the --vh custom property to the root of the document
  document.documentElement.style.setProperty('--vh', `${vh}px`);
  document.body.style.setProperty('min-height','-webkit-fill-available')
</script>
